.interactiveObject {
  position: absolute;
  cursor: hand;
}

.intObj-talkToReceptionist {
  background-image: url(../images/interactiveObjects/intObj-receptionist.png);
  background-size: cover;

  @intObj-receptionist-width: 242px;
  @intObj-receptionist-height: 263px;

  @media screen and (min-width: @screen-sm-min) {
    width: 0.60 * @intObj-receptionist-width;
    height: 0.60 * @intObj-receptionist-height;
    top: 108px;
    right: 290px;
  }

  @media screen and (min-width: @screen-md-min) {
    width: 0.80 * @intObj-receptionist-width;
    height: 0.80 * @intObj-receptionist-height;
    top: 135px;
    right: 380px;
  }

  @media screen and (min-width: @screen-lg-min) {
    width: @intObj-receptionist-width;
    height: @intObj-receptionist-height;
    top: 157px;
    right: 448px;
  }
}

.intObj-lobbyToHallway-left {
  left: 0;
  top: 0;
  height: 100%;
  width: 8%;
}

.intObj-lobbyToHallway-left:hover {
  background-image: svg-gradient(to right, rgba(255,255,255,0.7), rgba(255,255,255,0.2) 25%, transparent);
}

.intObj-lobbyToHallway-right {
  right: 0;
  top: 0;
  height: 100%;
  width: 8%;
}

.intObj-lobbyToHallway-right:hover {
  background-image: svg-gradient(to right, transparent, rgba(255,255,255,0.2) 75%, rgba(255,255,255,0.7));
}

.intObj-goToNursingStation {
  top: @intObj-goToNursingStation-top;
  left: @intObj-goToNursingStation-left;
  height: @intObj-goToNursingStation-height;
  width: @intObj-goToHallway-width;
}

.intObj-goToBedroom {
  top: @intObj-goToBedroom-top;
  left: @intObj-goToBedroom-left;
  height: @intObj-goToBedroom-height;
  width: @intObj-goToBedroom-width;
}

.intObj-braceletConfirmation:hover {
  background-image: @intObj-braceletConfirmation;
  background-size: contain;
  top: @intObj-braceletConfirmation-top;
  left: @intObj-braceletConfirmation-left;
  height: @intObj-braceletConfirmation-height;
  width: @intObj-braceletConfirmation-width;
}

.intObj-thermometer {
  background-image: @intObj-thermometer;
  background-size: contain;
  top: @intObj-thermometer-top;
  left: @intObj-thermometer-left;
  width: @intObj-thermometer-width;
  height: @intObj-thermometer-height;
}
.intObj-thermometer:hover{
  box-shadow: none;
  background-image: @intObj-thermometer-hover;
}

.intObj-bloodPressureMonitor {
  background-image: @intObj-bloodPressureMonitor;
  background-size: contain;
  top: @intObj-bloodPressureMonitor-top;
  left: @intObj-bloodPressureMonitor-left;
  width: @intObj-bloodPressureMonitor-width;
  height: @intObj-bloodPressureMonitor-height;
}
.intObj-bloodPressureMonitor:hover{
  box-shadow: none;
  background-image: @intObj-bloodPressureMonitor-hover;
}

.intObj-oximeter {
  background-image: @intObj-oximeter;
  background-size: contain;
  top: @intObj-oximeter-top;
  left: @intObj-oximeter-left;
  width: @intObj-oximeter-width;
  height: @intObj-oximeter-height;
}
.intObj-oximeter:hover{
  box-shadow: none;
  background-image: @intObj-oximeter-hover;
}
.intObj-charMentor {
  background-image: @intObj-charMentor;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: @intObj-talkToMentor-bottom;
  right: @intObj-talkToMentor-right;
  width: @intObj-talkToMentor-width;
  height: @intObj-talkToMentor-height;
}
.intObj-charMentor:hover {
  box-shadow: none;
  background-image: @intObj-charMentor-hover;
}

.intObj-cushion {
  background-image: @intObj-cushion;
  background-repeat: no-repeat;
  background-size: contain;
  top: @intObj-cushion-top;
  left: @intObj-cushion-left;
  width: @intObj-cushion-width;
  height: @intObj-cushion-height;
}
.intObj-cushion:hover {
  box-shadow: none;
  background-image: @intObj-cushion-hover;
}