
// Generic variables
@default-bgcolor: gray;
@sem_imagem: url('../../images/action_buttons/sem-imagem.jpg');
@sem_imagem-disabled: url('../../images/action_buttons/sem-imagem-disabled.jpg');
@arrow_dialog_button: url('../../images/arrow-icon_button.png');
@bg-menu_button: url('../../images/button-bg.png');

// scene's background
/*  Imagem de background da abertura provisoria:
      https://interfacelift.com/wallpaper/details/3335/rotsteinpass.html
    "Rotsteinpass" by Jan Thoma
*/
@bg-body: url('../../assets/images/shattered.png');
@bg-menu_inicial: url('../../assets/images/scenes/abertura-provisoria.jpg');
@bg-recepcao: url('../../images/scenes/recepcao.jpg');
@bg-posto_de_enfermagem: url('../../images/scenes/posto_de_enfermagem.jpg');
@bg-ala_masculina: url('../../images/scenes/ala_masculina.jpg');
@bg-ala_feminina: url('../../images/scenes/ala_feminina.jpg');
@bg-sala_de_leitos: url('../../images/scenes/sala_de_leitos.jpg');
@bg-leito-char-01: url('../../images/scenes/leito-char-01.jpg');
@bg-leito-char-02: url('../../images/scenes/leito-char-02.jpg');
@bg-centro_cirurgico: url('../../images/scenes/centro-cirurgico.jpg');
@bg-corredor: url('../../images/scenes/corredor.jpg');
@bg-enfermaria: url('../../images/scenes/enfermaria.jpg');
@bg-fim-level: url('../../images/scenes/fim-level.jpg');
@bg-leito-char-02-virado: url('../../images/scenes/leito-char-02-virado.jpg');
@bg-leito-char-02-coxim: url('../../images/scenes/leito-char-02-coxim.jpg');
@bg-ala_masculina-coxim: url('../../images/scenes/ala_masculina-paciente-virado.jpg');
@bg-fim-alfa: url('../../images/scenes/encerra-provisoria-alfa.jpg');

// modalScenes.less
@bg-gaveta: url('../../images/modalScenes/gaveta.png');
@bg-pulseira: url('../../images/modalScenes/pulseira.png');
@bg-carlos_esme_gouvea: url('../../images/modalScenes/carlos-esme-gouvea.jpg');
@bg-prontuario_carlos: url('../../images/modalScenes/prontuario_carlos.jpg');
@bg-prontuario_joao: url('../../images/modalScenes/prontuario_joao.jpg');

// interactiveObjects.less
@bg-grad_esq: url('../../images/interactiveObjects/bg_lateral_esq.png');
@bg-grad_dir: url('../../images/interactiveObjects/bg_lateral_dir.png');
@intObj-termometro-bg: url('../../images/interactiveObjects/termometro.png');
@intObj-termometro-bg-hover: url('../../images/interactiveObjects/termometro-hover.png');
@intObj-medidor-pressao-bg: url('../../images/interactiveObjects/pressao.png');
@intObj-medidor-pressao-bg-hover: url('../../images/interactiveObjects/pressao-hover.png');
@intObj-oximetro-bg: url('../../images/interactiveObjects/oximetro.png');
@intObj-oximetro-bg-hover: url('../../images/interactiveObjects/oximetro-hover.png');
@intObj-char-mentor: url('../../images/interactiveObjects/char-mentor.png');
@intObj-char-mentor-hover: url('../../images/interactiveObjects/char-mentor-hover.png');
@intObj-confirmar_pulseira-bg: url('../../images/interactiveObjects/confirmar_pulseira.png');
@intObj-coxim: url('../../images/interactiveObjects/coxim.png');
@intObj-coxim-hover: url('../../images/interactiveObjects/coxim-hover.png');
// actionsThumbnails.less
@ir_corredor: url('../../images/action_buttons/ir_corredor.jpg');
@ir_corredor-disabled: url('../../images/action_buttons/ir_corredor-disabled.jpg');

@ir_posto_de_enfermagem: url('../../images/action_buttons/ir_posto_de_enfermagem.jpg');
@ir_posto_de_enfermagem-disabled: url('../../images/action_buttons/ir_posto_de_enfermagem-disabled.jpg');

@ir_recepcao: url('../../images/action_buttons/ir_recepcao.jpg');
@ir_recepcao-disabled: url('../../images/action_buttons/ir_recepcao-disabled.jpg');

@ir_sala_de_leitos: url('../../images/action_buttons/ir_sala_de_leitos.jpg');
@ir_sala_de_leitos-disabled: url('../../images/action_buttons/ir_sala_de_leitos-disabled.jpg');

@abrir_dialogo: url('../../images/action_buttons/abrir_dialogo.jpg');
@abrir_dialogo-disabled: url('../../images/action_buttons/abrir_dialogo-disabled.jpg');

@examinar_paciente: url('../../images/action_buttons/examinar_paciente.jpg');
@examinar_paciente-disabled: url('../../images/action_buttons/examinar_paciente-disabled.jpg');

@lavar_maos: url('../../images/action_buttons/lavar_maos.jpg');
@lavar_maos-disabled: url('../../images/action_buttons/lavar_maos-disabled.jpg');

@gaveta: url('../../images/action_buttons/gaveta.jpg');
@abrir_gaveta: @gaveta;
@fechar_gaveta: @gaveta;

@pegar_termometro: url('../../images/action_buttons/termometro.jpg');

@pegar_medidor_pressao: url('../../images/action_buttons/pressao.jpg');

@pegar_oximetro: url('../../images/action_buttons/oximetro.jpg');

@medir_temperatura: @pegar_termometro;

@medir_pulso: @pegar_medidor_pressao;

@medir_freq_respiratoria: @pegar_oximetro;

@anotar_prontuario: url('../../images/action_buttons/anotar_prontuario.jpg');
@anotar_prontuario-disabled: url('../../images/action_buttons/anotar_prontuario-disabled.jpg');

@ler_prontuario: url('../../images/action_buttons/prontuario.jpg');
@ler_prontuario-disabled: url('../../images/action_buttons/prontuario-disabled.jpg');

@confirmar_prontuario: url('../../images/action_buttons/prontuario-confirma.jpg');
@confirmar_prontuario-disabled: url('../../images/action_buttons/prontuario-confirma-disabled.jpg');

@pulseira_paciente: url('../../images/action_buttons/pulseira.jpg');
@pulseira_paciente-disabled: url('../../images/action_buttons/pulseira-disabled.jpg');

@confirmar_pulseira: url('../../images/action_buttons/confirmar_pulseira.jpg');
@confirmar_pulseira-disabled: url('../../images/action_buttons/confirmar_pulseira-disabled.jpg');

@confirmar_paciente: @sem_imagem;

@fechar_pulseira: @sem_imagem;

@leito-char-01: url('../../images/action_buttons/leito-char-01.jpg');
@leito-char-01-disabled: url('../../images/action_buttons/leito-char-01-disabled.jpg');

@leito-char-02: url('../../images/action_buttons/leito-char-02.jpg');
@leito-char-02-disabled: url('../../images/action_buttons/leito-char-02-disabled.jpg');

@posicionar_coxim: url('../../images/action_buttons/posicionar_coxim.jpg');
@posicionar_coxim-disabled: url('../../images/action_buttons/posicionar_coxim-disabled.jpg');

@mudar_posicao_paciente: url('../../images/action_buttons/mudar_posicao_paciente.jpg');
@mudar_posicao_paciente-disabled: url('../../images/action_buttons/mudar_posicao_paciente-disabled.jpg');

@voltar_menu: url('../../images/action_buttons/voltar_menu.jpg');
// dialogModal.less
@char-recepcionista: url('../../images/characters/char-recepcionista.jpg');
@char-mentor: url('../../images/characters/char-mentor.jpg');
@char-paciente-01: url('../../images/characters/char-paciente-01.jpg');
@char-paciente-02: url('../../images/characters/char-paciente-02.jpg');
@char-jogador: url('../../images/characters/char-jogador.jpg');
@dialogBar-bg-color: rgba(0, 0, 0, 0.75);
@dialogMainText-color: #ffffff;
@dialogOptions-color: #ffffff;