#modalScene {
  position: absolute;
  display: none;
}

#modalScene-mask {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left : 0;
}

#pulseira_modal{
  display: none;
  float: left;
  position: relative;

  //region name
  #name_display{
    position: absolute;
    width: 170px;
    height: 20px;
    text-align: left;
    cursor: text;

    @media (min-width:@screen-sm-min) {
      left: 175px;
      top: 198px;
    }
    @media (min-width:@screen-md-min) {
      left: 226px;
      top: 260px;
    }
    @media (min-width:@screen-lg-min) {
      left: 275px;
      top: 317px;
    }
  }

  #name_input{
    position: absolute;
    width: 170px;
    height: 20px;
    display: none;

    @media (min-width:@screen-sm-min) {
      left: 173px;
      top: 197px;
    }
    @media (min-width:@screen-md-min) {
      left: 215px;
      top: 286px;
    }
    @media (min-width:@screen-lg-min) {
      left: 273px;
      top: 316px;
    }
  }
  //endregion

  //region data
  #data_display{
    position: absolute;
    width: 75px;
    height: 20px;
    text-align: left;
    cursor: text;

    @media (min-width:@screen-sm-min) {
      left: 286px;
      top: 217px;
    }
    @media (min-width:@screen-md-min) {
      left: 372px;
      top: 286px;
    }
    @media (min-width:@screen-lg-min) {
      left: 450px;
      top: 348px;
    }
  }

  #data_input{
    position: absolute;
    width: 75px;
    height: 20px;
    display: none;

    @media (min-width:@screen-sm-min) {
      left: 284px;
      top: 217px;
    }
    @media (min-width:@screen-md-min) {
      left: 370px;
      top: 286px;
    }
    @media (min-width:@screen-lg-min) {
      left: 448px;
      top: 348px;
    }
  }
  //endregion

  //region leito
  #leito_display{
    position: absolute;
    width: 97px;
    height: 20px;
    text-align: left;
    cursor: text;

    @media (min-width:@screen-sm-min) {
      left: 168px;
      top: 217px;
    }
    @media (min-width:@screen-md-min) {
      left: 219px;
      top: 284px;
    }
    @media (min-width:@screen-lg-min) {
      left: 265px;
      top: 348px;
    }
  }

  #leito_input{
    position: absolute;
    width: 97px;
    height: 20px;
    display: none;

    @media (min-width:@screen-sm-min) {
      left: 166px;
      top: 217px;
    }
    @media (min-width:@screen-md-min) {
      left: 217px;
      top: 284px;
    }
    @media (min-width:@screen-lg-min) {
      left: 263px;
      top: 348px;
    }
  }
  //endregion

}

//region Leito
.modalScene-pulseira {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: @bg-bracelet;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;

  width: 100%;
  height: 100%;

  //@modalScene-bracelet-width: 1056px;
  //@modalScene-bracelet-height: 210px;
  /*
  @media screen and (min-width: @screen-sm-min) {
    @width: 0.45 * @modalScene-bracelet-width;
    @height: 0.45 *@modalScene-bracelet-height;
    width: @width;
    height: @height;
    top: (@game-height-sm - @height)/2;
    left: (@screen-sm-min - @width)/2;
  }
  @media screen and (min-width: @screen-md-min) {
    @width: 0.6 * @modalScene-bracelet-width;
    @height: 0.6 * @modalScene-bracelet-height;
    width: @width;
    height: @height;
    top: (@game-height-md - @height)/2;
    left: (@screen-md-min - @width)/2;
  }
  @media screen and (min-width: @screen-lg-min) {
    @width: 0.75 * @modalScene-bracelet-width;
    @height: 0.75 * @modalScene-bracelet-height;
    width: @width;
    height: @height;
    top: (@game-height-lg - @height)/2;
    left: (@screen-lg-min - @width)/2;
  }
  */
}

.modalScene-termometro {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: @bg-termometro;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;

  width: 100%;
  height: 100%;
}
.temp_termometro {
  position: absolute;
  color: #000;
  font-size: 70px;
  top: 46%;
  right: 41%;
}

.modalScene-medidor_pressao {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: @bg-medidor_pressao;
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;

  width: 100%;
  height: 100%;
}
.pressao {
  position: absolute;
  color: #000;
  font-size: 30px;
  top: 33%;
  right: 42%;
}
//endregion

.modalScene-drawer {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: @bg-drawer;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;

  display: table;

  width: 100%;
  height: 100%;
  /*
  background-image: @bg-drawer;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: @modalScene-drawer-width;
  height: @modalScene-drawer-height;
  margin: @modalScene-drawer-margin;
*/
}

.modalScene-carlos_esme_gouvea {
  background-image: @bg-carlos_esme_gouvea;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 125%;
  margin: @modalScene-carlos_esme_gouvea-margin;
}

.modalScene-prontuario_joao {
  background-image: @bg-recordsJoao;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: @modalScene-recordsJoao-width;
  height: @modalScene-recordsJoao-height;
  margin: @modalScene-recordsJoao-margin;
}
.modalScene-prontuario_carlos {
  background-image: @bg-recordsCarlos;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: @modalScene-recordsCarlos-width;
  height: @modalScene-recordsCarlos-height;
  margin: @modalScene-recordsCarlos-margin;
}