#   IDE
.idea/

#   NODE
node_modules

#   BOWER
libs/

#   GRUNT
.grunt

#   Production
dev/
!dev/html/dialog/dialog.html
!dev/css/main.css
dev.env.json
prod/
dist/

#   JS LINTING
jscs.log

#   JsDoc Documentation
docs/

