# Content as image sources, docs, etc
projeto/

#   IDE
.idea/

#   NODE
node_modules

#   Production
build/
libs/
tests/

#   JsDoc Documentation
documentation/
docs/
doc_src/

#   Example files
*.example

#   Office
*.~vsd

#   Bat files
*.bat
!server-2.0.bat
