/*
This file is part of Cuidando Bem.

    Cuidando Bem is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Cuidando Bem is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Cuidando Bem.  If not, see <http://www.gnu.org/licenses/>.
*/
.menuBackImage {
  background-size: cover;
  width: 100%;
  height: 100%;
}

#menuContainer {
  position: absolute;
  right: 3%;
  width: 25%;
  top: 40%;
  height: 50%;
}

.menuHorizontal {
  max-width: 300px;
}

#menuLogo {
  width: 100%;
  height: 50%;
}

.ui-tooltip {
  //background-color: red;
  @color: rgba(20, 20, 20, 0.5);
  @markA: 10%;
  @markB: 100% - @markA;
  background: linear-gradient(90deg, transparent 0%, @color @markA, @color @markB, transparent 100%);
  //background-image: svg-gradient(to right, transparent, rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0.5) 85%,transparent);
  float: left;
  //left: 50%;
  position: absolute;
  //top: 5%;
  color: white;
  font-family: @font-menu;
  padding: 0.5rem 6rem;
  font-size: 3.5rem;
}

.menuButton.backButton.looseButton {
  position: absolute;
  bottom: 3%;
  right: 3%;
  margin: 0;
  padding: 0 2%;
  width: 20%;
}
