.levelSelect-backImage{
  background: center no-repeat @screen-levelSelect;
  &:extend(.menuBackImage);
}

#levelSelectContainer{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#levelSelector {
  top: 40%;
  position: relative;
}

.level {
  width: 9%;
  height: 10%;
  background-color: #58CA85;
  display: inline-block;
  cursor: hand;

  //position: absolute;
}

.l0 {
  background: center no-repeat @bg-bracelet;
  background-size: contain;


}

.l1 {
  background: center no-repeat @intObj-cushion;
  background-size: contain;
}

.l2 {
  background: center no-repeat @intObj-aparelhoGlicemia;
  background-size: contain;
}

.l3 {
  background: center no-repeat @intObj-placa_neutra;
  background-size: contain;
}

.l4 {
  background: center no-repeat @intObj-seringa_20_ml;
  background-size: contain;
}

.l5 {
  background: center no-repeat @intObj-gaze_esteril;
  background-size: contain;
}

.l6 {
  background: center no-repeat @intObj-equipo_de_infusao_de_dieta;
  background-size: contain;
}

.l7 {
  background: center no-repeat @intObj-clorpromazina_medicamento;
  background-size: contain;
}

.l8 {
  background: center no-repeat @intObj-carrinho_anestesico;
  background-size: contain;
}

.l9 {
  background: center no-repeat @intObj-soro_glicofisiologico_1000_ml;
  background-size: contain;
}

.level.disabled{
  background-color: #8E8F8E !important;
  border-bottom: 3px solid #5b5c5b !important;
}

//.level:active {
//  background-color: #b61f20;
//  border-bottom: 3px solid #8b191a;
//}

.levelSelect-button {
  bottom: -70px;
  position: absolute;
  width: 50%;
  left: 55%;
}