/*
This file is part of Cuidando Bem.

    Cuidando Bem is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Cuidando Bem is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Cuidando Bem.  If not, see <http://www.gnu.org/licenses/>.
*/
.vitoria-backImage {
	position: absolute;
    background-image: @screen-vitoria;
    &:extend(.menuBackImage);
}

#screen-vitoria.palco {
  background-color: black;
  width: 100%;
  height: 100%;

  .cena {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .background {
      opacity: 1.0;
      width: 100%;
      height: 100%;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      //background-color: gray;
    }
    overflow: hidden;
  }

  .recepcao {
    .background {
      background-image: @scene-lobby;
    }
    .secretaria {
      position: absolute;;
      background-image: @intObj-talkToReceptionist;
      background-size: contain;
      background-repeat: no-repeat;
      width: 18%;
      height: 33%;
      top: 25%;
      left: 45%;
    }
    .balao {
      display: none;
      border-radius: 50%;
      width: 25%;
      height: 20%;
      position: absolute;
      top: 13%;
      left: 57%;
      background-color: white;
      border: 0.2rem black solid;
      font-size: 2.5rem;
      span{
        padding: 20% 5%;
        position: relative;
        top: 25%;
      }
    }
  }

  .corredor {
    opacity: 0.0;
    transform-origin: bottom;
    .background {
      background-color: darkgrey;
    }
    .porta {
      background-color: brown;
      width: 20%;
      height: 60%;
      position: absolute;
      //z-index: 1;
      bottom: 0;
      left: 40%;
    }

    .porta-fundo {
      background-color: black;
      width: 20%;
      height: 60%;
      position: absolute;
      //z-index: 1;
      bottom: 0;
      left: 40%;
    }


  }

  .escritorio {
    opacity: 0.0;
    .background {
      // background-image: @scene-lobby;
      background-color: darkgreen;
    }
  }

  .contrato {
    .background {
      // background-image: @scene-lobby;
    }
  }
}
