.config-backImage {
    background: center no-repeat @screen-config;
    &:extend(.menuBackImage);
}

.config.menuHorizontal {
    bottom: 12%;
    position: absolute;
    width: 100%;
    text-align: center;

    .menuButton {
        display: inline;
        padding: 0 25px;
    }
}

.configTitle {
    top: 10%;
    position: absolute;;
    width: 100%;
    text-align: center;

    .titleText {
        display: inline;
        padding: 10px;
        background-color: rgba(0, 200, 250, 0.21);
    }
}

#configContent {
    position: absolute;
    top: 20%;
    height: 55%;
    //background-color: yellow;
    width: 100%;

    .controlRow{
        > div {
            display: inline-block;
        }
        .title {
            position: absolute;
            left: 5%;
        }
        .slider {
            background-color: white;
            width: 50%;
            span {
                background-color: orange;
                border-radius: 25px;
            }
        }
        .mute {
            background-color: red;
            width: 10px;
            height: 10px;
        }
    }


}