//region Action Buttons
@no_image: url(../../assets/images/action_buttons/sem-imagem.jpg);

@anotar_prontuario: url(../../assets/images/action_buttons/anotar_prontuario.jpg);
@ler_prontuario: url(../../assets/images/action_buttons/prontuario.jpg);
@confirmar_prontuario: url(../../assets/images/action_buttons/prontuario-confirma.jpg);
@pulseira_paciente: url(../../assets/images/action_buttons/pulseira.jpg);
@confirmar_pulseira: url(../../assets/images/action_buttons/confirmar_pulseira.jpg);
@confirmar_paciente: @no_image;
@fechar_pulseira: @no_image;

@leito-char-01: url(../../assets/images/action_buttons/leito-char-01.jpg);
@leito-char-02: url(../../assets/images/action_buttons/leito-char-02.jpg);
@posicionar_coxim: url(../../assets/images/action_buttons/posicionar_coxim.jpg);
@mudar_posicao_paciente: url(../../assets/images/action_buttons/mudar_posicao_paciente.jpg);

@voltar_menu: url(../../assets/images/action_buttons/voltar_menu.jpg);

@ir_corredor: url(../../assets/images/action_buttons/ir_corredor.jpg);

@ir_posto_de_enfermagem: url(../../assets/images/action_buttons/ir_posto_de_enfermagem.jpg);

@ir_recepcao: url(../../assets/images/action_buttons/ir_recepcao.jpg);

@ir_sala_de_leitos: url(../../assets/images/action_buttons/ir_sala_de_leitos.jpg);

@abrir_dialogo: url(../../assets/images/action_buttons/abrir_dialogo.jpg);

@examinar_paciente: url(../../assets/images/action_buttons/examinar_paciente.jpg);

@lavar_maos: url(../../assets/images/action_buttons/lavar_maos.jpg);
@lavar_maos_escova: url(../../assets/images/action_buttons/lavar_maos_escova.png);

@gaveta: url(../../assets/images/action_buttons/gaveta.jpg);
@abrir_gaveta: @gaveta;
@fechar_gaveta: @gaveta;

@pegar_termometro: url(../../assets/images/action_buttons/termometro.jpg);

@pegar_medidor_pressao: url(../../assets/images/action_buttons/pressao.jpg);

@pegar_oximetro: url(../../assets/images/action_buttons/oximetro.jpg);

@medir_temperatura: @pegar_termometro;
@medir_pulso: @pegar_medidor_pressao;
@medir_freq_respiratoria: url(../../assets/images/action_buttons/relogio.jpg);
@medir_saturacao_02: @pegar_oximetro;

@agulha_40x12 : url(../../assets/images/action_buttons/agulha_40x12.jpg);
@algodao_seco : url(../../assets/images/action_buttons/algodao_seco.jpg);
@carrinho_anestesico : url(../../assets/images/action_buttons/carrinho_anestesico.jpg);
@cloreto_sodio_10_10ml : url(../../assets/images/action_buttons/cloreto_sodio_10_10ml.jpg);
@cloreto_sodio_20_10ml : url(../../assets/images/action_buttons/cloreto_sodio_20_10ml.jpg);
@clorpromazina_medicamento : url(../../assets/images/action_buttons/clorpromazina_medicamento.jpg);
@clorpropamida_medicamento : url(../../assets/images/action_buttons/clorpropamida_medicamento.jpg);
@copo_descartavel : url(../../assets/images/action_buttons/copo_descartavel.jpg);
@equipo : url(../../assets/images/action_buttons/equipo.jpg);
@equipode_infusao_alimentos : url(../../assets/images/action_buttons/equipode_infusao_alimentos.jpg);
@fita_adesiva_hipoalergica : url(../../assets/images/action_buttons/fita_adesiva_hipoalergica.jpg);
@frasco_dieta : url(../../assets/images/action_buttons/frasco_dieta.jpg);
@garrafa_agua_potavel : url(../../assets/images/action_buttons/garrafa_agua_potavel.jpg);
@gaze_esteril : url(../../assets/images/action_buttons/gaze_esteril.jpg);
@glicose_30_10ml : url(../../assets/images/action_buttons/glicose_30_10ml.jpg);
@ir_leito : url(../../assets/images/action_buttons/ir_leito.jpg);
@keflin_medicamento : url(../../assets/images/action_buttons/keflin_medicamento.jpg);
@luvas_de_procedimento : url(../../assets/images/action_buttons/luvas_de_procedimento.jpg);
@luvas_estereis : url(../../assets/images/action_buttons/luvas_estereis.jpg);
@mentor : url(../../assets/images/action_buttons/mentor.jpg);
@midazolam_medicamento : url(../../assets/images/action_buttons/midazolam_medicamento.jpg);
@paciente1 : url(../../assets/images/action_buttons/paciente1.jpg);
@paciente2 : url(../../assets/images/action_buttons/paciente2.jpg);
@paciente3 : url(../../assets/images/action_buttons/paciente3.jpg);
@paciente4 : url(../../assets/images/action_buttons/paciente4.jpg);
@paciente5 : url(../../assets/images/action_buttons/paciente5.jpg);
@paciente6 : url(../../assets/images/action_buttons/paciente6.jpg);
@paciente7 : url(../../assets/images/action_buttons/paciente7.jpg);
@paciente8 : url(../../assets/images/action_buttons/paciente8.jpg);
@paciente9 : url(../../assets/images/action_buttons/paciente9.jpg);
@placa_neutra : url(../../assets/images/action_buttons/placa_neutra.jpg);
@prontuario-original : url(../../assets/images/action_buttons/prontuario-original.jpg);
@recepcionista : url(../../assets/images/action_buttons/recepcionista.jpg);
@seringa_10ml : url(../../assets/images/action_buttons/seringa_10ml.jpg);
@seringa_5ml : url(../../assets/images/action_buttons/seringa_5ml.jpg);
@soro_fisiologico_1000ml : url(../../assets/images/action_buttons/soro_fisiologico_1000ml.jpg);
@soro_fisiologico_100ml : url(../../assets/images/action_buttons/soro_fisiologico_100ml.jpg);
@soro_fisiologico_250ml : url(../../assets/images/action_buttons/soro_fisiologico_250ml.jpg);
@soro_glicofisiologico_1000ml : url(../../assets/images/action_buttons/soro_glicofisiologico_1000 ml.jpg);
//endregion

//region Characters
@char-receptionist: url(../../assets/images/characters/recepcionista.png);
@char-mentor: url(../../assets/images/characters/mentor.png);
@char-paciente1: url(../../assets/images/characters/paciente1.png);
@char-paciente2: url(../../assets/images/characters/paciente2.png);
@char-paciente3: url(../../assets/images/characters/paciente3.png);
@char-paciente4: url(../../assets/images/characters/paciente4.png);
@char-paciente5: url(../../assets/images/characters/paciente5.png);
@char-paciente6: url(../../assets/images/characters/paciente6.png);
@char-paciente7: url(../../assets/images/characters/paciente7.png);
@char-paciente8: url(../../assets/images/characters/paciente8.png);
@char-paciente9: url(../../assets/images/characters/paciente9.png);

//endregion

//region Interactive Objects
@intObj-thermometer: url(../../assets/images/interactiveObjects/termometro.png);
@intObj-thermometer-hover: url(../../assets/images/interactiveObjects/termometro-hover.png);
@intObj-bloodPressureMonitor: url(../../assets/images/interactiveObjects/pressao.png);
@intObj-bloodPressureMonitor-hover: url(../../assets/images/interactiveObjects/pressao-hover.png);
@intObj-oximeter: url(../../assets/images/interactiveObjects/oximetro.png);
@intObj-oximeter-hover: url(../../assets/images/interactiveObjects/oximetro-hover.png);
@intObj-charMentor: url(../../assets/images/interactiveObjects/char-mentor.png);
@intObj-charMentor-hover: url(../../assets/images/interactiveObjects/char-mentor-hover.png);
@intObj-braceletConfirmationGray: url(../../assets/images/interactiveObjects/checkmark-gray.png);
@intObj-braceletConfirmationGreen: url(../../assets/images/interactiveObjects/checkmark.png);
@intObj-cushion: url(../../assets/images/interactiveObjects/coxim.png);
@intObj-cushion-hover: url(../../assets/images/interactiveObjects/coxim-hover.png);
@intObj-paciente_01-checar_pulseira: url(../../assets/images/interactiveObjects/pulseira-paciente01.png);
@intObj-paciente_02-checar_pulseira: url(../../assets/images/interactiveObjects/pulseira-paciente02.png);
@intObj-watch: url(../../assets/images/interactiveObjects/relogio.png);
@intObj-watch-hover: url(../../assets/images/interactiveObjects/relogio-hover.png);

@intObj-algodao: url(../../assets/images/interactiveObjects/algodao.png);
@intObj-luvas: url(../../assets/images/interactiveObjects/algodao.png);
@intObj-bandeja: url(../../assets/images/interactiveObjects/algodao.png);
@intObj-aparelhoGlicemia: url(../../assets/images/interactiveObjects/algodao.png);
@intObj-algodao: url(../../assets/images/interactiveObjects/algodao.png);
//endregion

//region Misc
@arrow_dialog_button: url(../../assets/images/misc/arrow-icon_button.png);
@arrow_dialog_button-hover: url(../../assets/images/misc/arrow-icon_button-hover.png);
@bg-menu_button: url(../../assets/images/misc/button-bg.png);
@bg-body: url(../../assets/images/misc/shattered.png);
//endregion

//region Modal Scenes
@bg-drawer: url(../../assets/images/modalScenes/gaveta.png);
@bg-bracelet: url(../../assets/images/modalScenes/pulseira.png);
@bg-termometro: url(../../assets/images/modalScenes/termometro.png);
@bg-medidor_pressao: url(../../assets/images/modalScenes/medidorPressao.png);
@bg-relogio_digital: url(../../assets/images/modalScenes/relogioDigital.png);
@bg-oximetro: url(../../assets/images/modalScenes/oximetro.png);
@bg-zoom-char-2: url(../../assets/images/modalScenes/zoom-char-02.png);

@bg-prontuario: url(../../assets/images/modalScenes/prontuario.png);
//endregion

//region screens
@screen-mainMenu: url(../../assets/images/screens/tela_inicial.jpg);
@screen-loadGame: url(../../assets/images/screens/tela_carregarFundo.jpg);
@screen-levelSelect: url(../../assets/images/screens/tela_levelSelect.jpg);
@screen-credits: url(../../assets/images/screens/credits.jpg);
@screen-config: url(../../assets/images/screens/config.jpg);
@screen-conteudo: url(../../assets/images/screens/conteudo.jpg);
@mainMenu-prancheta: url(../../assets/images/misc/telaInicialPrancheta.png);
@slotSelect-prontuario: url(../../assets/images/misc/prontuario.png);
@slotSelect-logo: url(../../assets/images/misc/logo.png);
//endregion

//region Scenes

@scene-lobby: url(../../assets/images/scenes/recepcao.jpg);
@scene-nursingStation: url(../../assets/images/scenes/posto_de_enfermagem.jpg);
@scene-maleRoom: url(../../assets/images/scenes/ala_masculina.jpg);
@scene-femaleRoom: url(../../assets/images/scenes/ala_feminina.png);
@scene-bedroom: url(../../assets/images/scenes/sala_de_leitos.jpg);
@scene-surgeryCenter: url(../../assets/images/scenes/centro_cirurgico.jpg);
@scene-surgeryCenter-regina: url(../../assets/images/scenes/centro_cirurgico_regina.jpg);
@scene-surgeryCenter-yuri: url(../../assets/images/scenes/centro_cirurgico_yuri.jpg);
@scene-infirmary: url('');
@scene-levelTransition: url(../../assets/images/scenes/fim-level.jpg);
@scene-endAlpha: url(../../assets/images/scenes/encerra-provisoria-alfa.jpg);
@scene-hallway: url(../../assets/images/scenes/corredor.jpg);
@scene-pharmacy: url(../../assets/images/scenes/farmacia.jpg);

@scene-bedChar01: url(../../assets/images/scenes/leito-char-01.jpg);
@scene-bedChar02: url(../../assets/images/scenes/leito-char-02.jpg);
@scene-bedChar02-turned: url(../../assets/images/scenes/leito-char-02-virado.jpg);
@scene-bedChar02-cushion: url(../../assets/images/scenes/leito-char-02-coxim.jpg);
@scene-maleRoom-cushion: url(../../assets/images/scenes/ala_masculina-paciente-virado.jpg);
@scene-bedChar03: url(../../assets/images/scenes/leito-char-03.jpg);
@scene-bedChar04: url(../../assets/images/scenes/leito-char-04.jpg);
@scene-bedChar05: url(../../assets/images/scenes/leito-char-05.jpg);
@scene-bedChar06: url(../../assets/images/scenes/leito-char-06.jpg);
@scene-bedChar07: url(../../assets/images/scenes/leito-char-07.jpg);
@scene-bedChar08: url(../../assets/images/scenes/leito-char-08.jpg);
@scene-bedChar09: url(../../assets/images/scenes/leito-char-09.jpg);
@scene-bedChar10: url(../../assets/images/scenes/leito-char-10.jpg);



//endregion