// Disable the selection function on the website
html, body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  background-image: @bg-body;
  height: 100%;
  width: 100%;
  text-align: center;
}

//  Center and define the size of #game div
//  also draw the border and shadow
#game {
  //  size change accordingly to screen size
  //  located on large, medium and small devices files
  border: solid 1px dimgray;
  box-shadow: #080808 1px 1px 10px;
  //position: absolute;

  position: relative;
  top: 50%;

  @media (min-width:@screen-sm-min) {
    width: 768px;
    height: 461px;
    margin: -461/2 auto;
  }
  @media (min-width:@screen-md-min) {
    width: 992px;
    height: 595px;
    margin: -595/2 auto;
  }
  @media (min-width:@screen-lg-min) {
    width: 1200px;
    height: 720px;
    margin: -720/2 auto;
  }
}
#stage {
  background: center no-repeat @scene-mainMenu;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}
#backgroundScene {
  height: 100%;
  width: 100%;
}

#saveSlotMain{
  width: 100%;
  height: 50%;
}

#levelSelectContainer{
  width: 100%;
  height: 50%;
}

#levelSelector {
  width: 40%;
  height: 70%;
  margin-left: 32%;
}

.level {
  width: 30%;
  height: 30%;
  background-color: #58CA85;
  float: left;
  margin: 5px;
  border-radius: 15px;

  cursor: hand;

  border-bottom: 3px solid #468b4a;
}

.level.disabled{
  background-color: #8E8F8E !important;
  border-bottom: 3px solid #5b5c5b !important;
}

.level:active {
  background-color: #b61f20;
  border-bottom: 3px solid #8b191a;
}

#slotsContainer{
  width: 40%;
  height: 80%;

  position: relative;
  margin-left: 30%;

  .slot{
    width: 70%;
    margin-left: 15%;
    padding: 5px;
    margin-bottom: 25px;
    background-color: cadetblue;
    border-radius: 12px;

    font-family: 'Pacifico', cursive;
    cursor: hand;
  }
  .slot.selected{
    background-color: indianred;
  }

  .slot.empty{
    color: #000;
  }

  .slot.filled{
    color: #FFF;
  }
}

#slotsMenu{
  width: 54%;
  margin-left: 23%;

  .menuButton{
    margin-top: 5px;
    width: 30%;

    float: left;
    margin-left: 5%;
  }
  .menuButton:first-child{
    margin-left: 0;
  }
}

#menuContainer {
  position: absolute;
  right: 10%;
  width: 25%;
  height: 50%;
}

#interactiveArea {
  position: absolute;
  width: 100%;
  height: 100%;
}
#interactiveObjects {
  width: 100%;
  height: 100%;
}
#commandBar {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
//endregion

//region Menu
#menuContainer {
  position: absolute;
  right: 10%;
  width: 25%;
  height: 50%;
}

#menuLogo {
  width: 100%;
  height: 50%;
}

.interactiveArea-mask {
  background-color: rgba(0, 0, 0, 0.75);
}

.masked{
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-text-fill-color: transparent;
  //-webkit-background-clip: text;
  -webkit-animation-name: masked-animation;
  -webkit-animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes masked-animation {
  0% {background-position: left bottom;}
  100% {background-position: right bottom;}
}

.menuButton {
  position: relative;
  margin: 0 auto 5%;
  cursor: hand;
  width: 100%;
  height: 14%;
  font-family: 'Pacifico', cursive;
  border-radius: 12px;
  color: #FFF;
  text-decoration: none;

  @media screen and (min-width: @screen-sm-min) {
    font-size: 15px;
  }
  @media screen and (min-width: @screen-md-min) {
    font-size: 20px;
  }
  @media screen and (min-width: @screen-lg-min) {
    font-size: 25px;
  }
}

.menuButtonBlue {
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
}

.menuButtonRed {
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
}

.menuButtonGreen {
  background-color: #82BF56;
  border-bottom: 5px solid #669644;
  text-shadow: 0px -2px #669644;
}

.menuButtonYellow {
  background-color: #E4BC47;
  border-bottom: 5px solid #A38426;
  text-shadow: 0px -2px #A38426;
}

.menuButton.disabled{
  background-color: #8E8F8E !important;
  border-bottom: 5px solid #5b5c5b !important;
  text-shadow: 0px -2px #5b5c5b !important;
}

.menuButton:hover{
  transform: translate(0px, -2px);
  -webkit-transform: translate(0px, -2px);
  border-bottom-width: 7px;
}

.menuButton:active{
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid #2980B9;
}

.menuButtonAnimate, .level {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.backButton {
  &:extend(.menuButton);
}
.backButton:hover {
  &:extend(.menuButton:hover);
}

.ui-tooltip {
  background-image: svg-gradient(to right, transparent, rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0.5) 85%,transparent);
  float: left;
  position: absolute;
  color: white;
  font-family: Indie Flower, sans-serif;
  padding: 5px 45px;
  font-size: 22px;
}
//endregion
