/*
	This css file will import other css files, so the files are all organized and there is only 
	one link on the main html


	Author: Otho - Marcelo Lopes Lotufo
	Author: Thales Eduardo Adair Menato
*/
/*Example: @import "css/normalize.css";*/
@import "./normalize.css";
@import "gameLayout/main.less";
@import "gameLayout/gameConfig.less";
@import "devices/common.less";
@import url("devices/smallDevices.less") (min-width: @screen-sm-min);
@import url("devices/mediumDevices.less") (min-width: @screen-md-min);
@import url("devices/largeDevices.less") (min-width: @screen-lg-min);
@import "gameLayout/scenesBackgroundImages.less";
@import "gameLayout/interactiveObjects.less";
@import "gameLayout/modalScenes.less";
@import "gameLayout/prontuario.less";
@import "gameLayout/pulseira.less";
@import "gameLayout/dialogModal.less";
@import "gameLayout/jquery-ui.less";

@font-face {
  font-family: "Pacifico";
  src: local("☺"), url("fonts/Pacifico/Pacifico.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: local("☺"), url("fonts/Lato/Lato-Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: local("☺"), url("fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Indie Flower";
  src: local("☺"), url("fonts/Indie_Flower/IndieFlower.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Import using the Google Api - not used anymore, fonts on local
//@import url(http://fonts.googleapis.com/css?family=Pacifico);
//@import url(http://fonts.googleapis.com/css?family=Lato:700italic);
//@import url(http://fonts.googleapis.com/css?family=Open+Sans);
//@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

// to be discontinued or not :P
@import "gameLayout/actionsThumbnails.less";
@import "gameLayout/endOfLevel.less";
