.character {
  background-size: cover;
  float: right;
  position: absolute;

  @char-receptionist-width: 296px;
  @char-receptionist-height: 419px;

  @media screen and (min-width: @screen-sm-min) {
    width: 0.5 * @char-receptionist-width;
    height: 0.5 * @char-receptionist-height;
    top: -180px;
    right: 50px;
  }

  @media screen and (min-width: @screen-md-min) {
    width: 0.7 * @char-receptionist-width;
    height: 0.7 * @char-receptionist-height;
    top: -255px;
    right: 50px;
  }

  @media screen and (min-width: @screen-lg-min) {
    width: @char-receptionist-width;
    height: @char-receptionist-height;
    top: -370px;
    right: 50px;
  }
}
.char-receptionist {
  background: @char-receptionist no-repeat top;
  &:extend(.character);
}

.char-mentor {
  background: @char-mentor no-repeat top;
  &:extend(.character);
}
.char-paciente_01 {
  background-image: @char-paciente1;
  &:extend(.character);
}
.char-paciente_02 {
  background-image: @char-paciente2;
  &:extend(.character);
}
.char-paciente_03 {
  background-image: @char-paciente3;
  &:extend(.character);
}
.char-paciente_04 {
  background-image: @char-paciente4;
  &:extend(.character);
}
.char-paciente_05 {
  background-image: @char-paciente5;
  &:extend(.character);
}
.char-paciente_06 {
  background-image: @char-paciente6;
  &:extend(.character);
}
.char-paciente_07 {
  background-image: @char-paciente7;
  &:extend(.character);
}
.char-paciente_08 {
  background-image: @char-paciente8;
  &:extend(.character);
}
.char-paciente_09 {
  background-image: @char-paciente9;
  &:extend(.character);
}