
html {
    font-family: sans-serif; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
}
body {
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block; 
    vertical-align: baseline; 
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background: transparent;
}
a:active,
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit; 
    font: inherit; 
    margin: 0; 
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"], 
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; 
    cursor: pointer; 
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield; 
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0; 
    padding: 0; 
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}
@font-face {
  font-family: "Pacifico";
  src: local("?"), url("../fonts/Pacifico/Pacifico.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("?"), url("../fonts/Lato/Lato-Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("?"), url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Indie Flower";
  src: local("?"), url("../fonts/Indie_Flower/IndieFlower.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  background-image: url(../../assets/images/misc/shattered.png);
  height: 100%;
  width: 100%;
  text-align: center;
}
#menuContainer {
  position: absolute;
  right: 10%;
  width: 25%;
  height: 50%;
}
#menuContainer {
  position: absolute;
  right: 10%;
  width: 25%;
  height: 50%;
}
#menuLogo {
  width: 100%;
  height: 50%;
}
.menuButton,
.backButton {
  position: relative;
  margin: 0 auto 5%;
  cursor: hand;
  width: 100%;
  height: 14%;
  font-family: 'Pacifico', cursive;
  border-radius: 12px;
  color: #FFF;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .menuButton,
  .backButton {
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) {
  .menuButton,
  .backButton {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .menuButton,
  .backButton {
    font-size: 25px;
  }
}
.menuButtonBlue {
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980b9;
}
.menuButtonRed {
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #bd3e31;
}
.menuButtonGreen {
  background-color: #82BF56;
  border-bottom: 5px solid #669644;
  text-shadow: 0px -2px #669644;
}
.menuButtonYellow {
  background-color: #E4BC47;
  border-bottom: 5px solid #A38426;
  text-shadow: 0px -2px #a38426;
}
.menuButton.disabled {
  background-color: #8E8F8E !important;
  border-bottom: 5px solid #5b5c5b !important;
  text-shadow: 0px -2px #5b5c5b !important;
}
.menuButton:hover,
.backButton:hover {
  transform: translate(0px, -2px);
  -webkit-transform: translate(0px, -2px);
  border-bottom-width: 7px;
}
.menuButton:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid #2980B9;
}
.menuButtonAnimate,
.level {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}
.ui-tooltip {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+PHN0b3Agb2Zmc2V0PSIxNSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC41Ii8+PHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC41Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZGllbnQpIiAvPjwvc3ZnPg==');
  float: left;
  position: absolute;
  color: white;
  font-family: Indie Flower, sans-serif;
  padding: 5px 45px;
  font-size: 22px;
}
.ui-dialog {
  background-color: #A9A9A9;
  border-radius: 15px;
  border: 1px solid black;
}
.ui-dialog-titlebar {
  border-bottom: 1px black solid;
}
#game {
  border: solid 1px dimgray;
  box-shadow: #080808 1px 1px 10px;
  position: relative;
  top: 50%;
}
@media (min-width: 768px) {
  #game {
    width: 768px;
    height: 461px;
    margin: -230.5 auto;
  }
}
@media (min-width: 992px) {
  #game {
    width: 992px;
    height: 595px;
    margin: -297.5 auto;
  }
}
@media (min-width: 1200px) {
  #game {
    width: 1200px;
    height: 720px;
    margin: -360 auto;
  }
}
#backgroundScene {
  position: absolute;
  height: 100%;
  width: 100%;
}
#interactiveArea {
  position: absolute;
  width: 100%;
  height: 100%;
}
#commandBar {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
#levelSelectContainer {
  width: 100%;
  height: 50%;
}
#levelSelector {
  width: 40%;
  height: 70%;
  margin-left: 32%;
}
.level {
  width: 30%;
  height: 30%;
  background-color: #58CA85;
  float: left;
  margin: 5px;
  border-radius: 15px;
  cursor: hand;
  border-bottom: 3px solid #468b4a;
}
.level.disabled {
  background-color: #8E8F8E !important;
  border-bottom: 3px solid #5b5c5b !important;
}
.level:active {
  background-color: #b61f20;
  border-bottom: 3px solid #8b191a;
}
#saveSlotMain {
  width: 100%;
  height: 50%;
}
#slotsContainer {
  width: 40%;
  height: 80%;
  position: relative;
  margin-left: 30%;
}
#slotsContainer .slot {
  width: 70%;
  margin-left: 15%;
  padding: 5px;
  margin-bottom: 25px;
  background-color: cadetblue;
  border-radius: 12px;
  font-family: 'Pacifico', cursive;
  cursor: hand;
}
#slotsContainer .slot.selected {
  background-color: indianred;
}
#slotsContainer .slot.empty {
  color: #000;
}
#slotsContainer .slot.filled {
  color: #FFF;
}
#slotsMenu {
  width: 54%;
  margin-left: 23%;
}
#slotsMenu .menuButton {
  margin-top: 5px;
  width: 30%;
  float: left;
  margin-left: 5%;
}
#slotsMenu .menuButton:first-child {
  margin-left: 0;
}
#stage {
  background: center no-repeat url(../../assets/images/scenes/abertura-provisoria.jpg);
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}
#interactiveObjects {
  position: absolute;
  width: 100%;
  height: 100%;
}
.interactiveObject {
  position: absolute;
  cursor: hand;
}
.intObj-talkToReceptionist {
  background-image: url(../images/interactiveObjects/intObj-receptionist.png);
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .intObj-talkToReceptionist {
    width: 145.2px;
    height: 157.8px;
    top: 108px;
    right: 290px;
  }
}
@media screen and (min-width: 992px) {
  .intObj-talkToReceptionist {
    width: 193.6px;
    height: 210.4px;
    top: 135px;
    right: 380px;
  }
}
@media screen and (min-width: 1200px) {
  .intObj-talkToReceptionist {
    width: 242px;
    height: 263px;
    top: 157px;
    right: 448px;
  }
}
.intObj-lobbyToHallway-left {
  left: 0;
  top: 0;
  height: 100%;
  width: 8%;
}
.intObj-lobbyToHallway-left:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjciLz48c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkaWVudCkiIC8+PC9zdmc+');
}
.intObj-lobbyToHallway-right {
  right: 0;
  top: 0;
  height: 100%;
  width: 8%;
}
.intObj-lobbyToHallway-right:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+PHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuNyIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkaWVudCkiIC8+PC9zdmc+');
}
.intObj-talkToMentor {
  background-image: url(../../assets/images/interactiveObjects/char-mentor.png);
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .intObj-talkToMentor {
    bottom: 6%;
    left: 25%;
    width: 110.2px;
    height: 303.92px;
  }
}
@media screen and (min-width: 992px) {
  .intObj-talkToMentor {
    bottom: 6%;
    left: 25%;
    width: 140.6px;
    height: 387.76px;
  }
}
@media screen and (min-width: 1200px) {
  .intObj-talkToMentor {
    bottom: 6%;
    left: 25%;
    width: 171px;
    height: 471.6px;
  }
}
.intObj-goToNursingStation {
  top: 32%;
  left: 42%;
  width: 7%;
  height: 8%;
}
.intObj-goToBedroom {
  top: 22%;
  right: 21%;
  width: 10%;
  height: 11%;
}
.intObj-ir_leito-tutorial {
  width: 20%;
  height: 35%;
  bottom: 22%;
  left: 37%;
}
.intObj-bedroomToHallway {
  width: 12%;
  height: 35%;
  top: 25%;
  right: 8%;
}
.intObj-paciente_01-checar_pulseira {
  background-image: url(../../assets/images/interactiveObjects/pulseira-paciente01.png);
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .intObj-paciente_01-checar_pulseira {
    width: 29.93px;
    height: 30.135px;
    bottom: 31.5%;
    left: 52%;
  }
}
@media screen and (min-width: 992px) {
  .intObj-paciente_01-checar_pulseira {
    width: 39.42px;
    height: 39.69px;
    bottom: 31.5%;
    left: 52%;
  }
}
@media screen and (min-width: 1200px) {
  .intObj-paciente_01-checar_pulseira {
    width: 49.64px;
    height: 49.98px;
    bottom: 31%;
    left: 52%;
  }
}
.intObj-braceletConfirmation,
.intObj-braceletConfirmed {
  background-image: url(../../assets/images/interactiveObjects/checkmark-gray.png);
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .intObj-braceletConfirmation,
  .intObj-braceletConfirmed {
    width: 170.4px;
    height: 157.8px;
    top: 151.6px;
    right: 298.8px;
  }
}
@media screen and (min-width: 992px) {
  .intObj-braceletConfirmation,
  .intObj-braceletConfirmed {
    width: 227.2px;
    height: 210.4px;
    top: 192.3px;
    right: 382.4px;
  }
}
@media screen and (min-width: 1200px) {
  .intObj-braceletConfirmation,
  .intObj-braceletConfirmed {
    width: 284px;
    height: 263px;
    top: 228.5px;
    right: 458px;
  }
}
.intObj-braceletConfirmation:hover {
  background-image: url(../../assets/images/interactiveObjects/checkmark.png);
  background-size: contain;
}
.intObj-braceletConfirmed {
  cursor: default;
  background-image: url(../../assets/images/interactiveObjects/checkmark.png);
  background-size: contain;
}
.intObj-openDrawer {
  width: 30%;
  height: 29%;
  top: 33%;
  right: 2%;
}
.intObj-thermometer {
  background-image: url(../../assets/images/interactiveObjects/termometro.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: 12%;
  left: 10%;
}
@media screen and (min-width: 768px) {
  .intObj-thermometer {
    width: 175px;
    height: 80.5px;
  }
}
@media screen and (min-width: 992px) {
  .intObj-thermometer {
    width: 200px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .intObj-thermometer {
    width: 225px;
    height: 103.5px;
  }
}
.intObj-thermometer:hover {
  box-shadow: none;
  background-image: url(../../assets/images/interactiveObjects/termometro-hover.png);
}
.intObj-bloodPressureMonitor {
  background-image: url(../../assets/images/interactiveObjects/pressao.png);
  background-size: contain;
  top: 12%;
  left: 33%;
}
@media screen and (min-width: 768px) {
  .intObj-bloodPressureMonitor {
    width: 114px;
    height: 132.62px;
  }
}
@media screen and (min-width: 992px) {
  .intObj-bloodPressureMonitor {
    width: 135px;
    height: 157.05px;
  }
}
@media screen and (min-width: 1200px) {
  .intObj-bloodPressureMonitor {
    width: 150px;
    height: 174.5px;
  }
}
.intObj-bloodPressureMonitor:hover {
  box-shadow: none;
  background-image: url(../../assets/images/interactiveObjects/pressao-hover.png);
}
.intObj-oximeter {
  background-image: url(../../assets/images/interactiveObjects/oximetro.png);
  background-size: contain;
  top: 12%;
  left: 53%;
}
@media screen and (min-width: 768px) {
  .intObj-oximeter {
    width: 80px;
    height: 78.8px;
  }
}
@media screen and (min-width: 992px) {
  .intObj-oximeter {
    width: 100px;
    height: 98.5px;
  }
}
@media screen and (min-width: 1200px) {
  .intObj-oximeter {
    width: 120px;
    height: 118.2px;
  }
}
.intObj-oximeter:hover {
  box-shadow: none;
  background-image: url(../../assets/images/interactiveObjects/oximetro-hover.png);
}
.intObj-watch {
  background-image: url(../../assets/images/interactiveObjects/relogio.png);
  background-size: contain;
  top: 12%;
  left: 68%;
}
@media screen and (min-width: 768px) {
  .intObj-watch {
    width: 90px;
    height: 119.52px;
  }
}
@media screen and (min-width: 992px) {
  .intObj-watch {
    width: 100px;
    height: 132.8px;
  }
}
@media screen and (min-width: 1200px) {
  .intObj-watch {
    width: 120px;
    height: 159.36px;
  }
}
.intObj-watch:hover {
  box-shadow: none;
  background-image: url(../../assets/images/interactiveObjects/relogio-hover.png);
}
.intObj-cushion {
  background-image: url(../../assets/images/interactiveObjects/coxim.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 10%;
  left: 34%;
  width: 400px;
  height: 400px;
}
.intObj-cushion:hover {
  box-shadow: none;
  background-image: url(../../assets/images/interactiveObjects/coxim-hover.png);
}
.scene,
.scene-maleRoom,
.scene-maleRoom-cushion,
.scene-femaleRoom,
.scene-bedroom,
.scene-bedChar01,
.scene-bedChar02,
.scene-bedChar02-turned,
.scene-bedChar02-cushion,
.scene-surgeryCenter,
.scene-hallway,
.scene-infirmary,
.scene-nursingStation,
.scene-lobby,
.scene-levelTransition,
.scene-endAlpha {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #808080;
}
.scene-maleRoom {
  background-image: url(../../assets/images/scenes/ala_masculina.jpg);
}
.scene-maleRoom-cushion {
  background-image: url(../../assets/images/scenes/ala_masculina-paciente-virado.jpg);
}
.scene-femaleRoom {
  background-image: url('');
}
.scene-bedroom {
  background-image: url(../../assets/images/scenes/sala_de_leitos.jpg);
}
.scene-bedChar01 {
  background-image: url(../../assets/images/scenes/leito-char-01.jpg);
}
.scene-bedChar02 {
  background-image: url(../../assets/images/scenes/leito-char-02.jpg);
}
.scene-bedChar02-turned {
  background-image: url(../../assets/images/scenes/leito-char-02-virado.jpg);
}
.scene-bedChar02-cushion {
  background-image: url(../../assets/images/scenes/leito-char-02-coxim.jpg);
}
.scene-surgeryCenter {
  background-image: url('');
}
.scene-hallway {
  background-image: url(../../assets/images/scenes/corredor.jpg);
}
.scene-infirmary {
  background-image: url('');
}
.scene-nursingStation {
  background-image: url(../../assets/images/scenes/posto_de_enfermagem.jpg);
}
.scene-lobby {
  background-image: url(../../assets/images/scenes/recepcao.jpg);
}
.scene-levelTransition {
  background-image: url(../../assets/images/scenes/fim-level.jpg);
}
.scene-endAlpha {
  background-image: url(../../assets/images/scenes/encerra-provisoria-alfa.jpg);
}
.scene-none {
  background-color: #d3d3d3;
}
#modalScene {
  position: absolute;
  display: none;
}
#modalScene-mask {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.modalScene-pulseira {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url(../../assets/images/modalScenes/pulseira.png);
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.modalScene-termometro {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url(../../assets/images/modalScenes/termometro.png);
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.temp_termometro {
  position: absolute;
  color: #000;
}
@media (min-width: 768px) {
  .temp_termometro {
    font-size: 35px;
    top: 47%;
    left: 55%;
  }
}
@media (min-width: 992px) {
  .temp_termometro {
    font-size: 45px;
    top: 47%;
    left: 55%;
  }
}
@media (min-width: 1200px) {
  .temp_termometro {
    font-size: 53px;
    top: 47%;
    left: 55%;
  }
}
.modalScene-medidor_pressao {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url(../../assets/images/modalScenes/medidorPressao.png);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.pressao {
  position: absolute;
  color: #000;
}
@media (min-width: 768px) {
  .pressao {
    font-size: 20px;
    top: 33%;
    right: 42%;
  }
}
@media (min-width: 992px) {
  .pressao {
    font-size: 25px;
    top: 33%;
    right: 42%;
  }
}
@media (min-width: 1200px) {
  .pressao {
    font-size: 30px;
    top: 33%;
    right: 42%;
  }
}
.modalScene-oximetro {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url(../../assets/images/modalScenes/oximetro.png);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.modalScene-drawer {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url(../../assets/images/modalScenes/gaveta.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: table;
  width: 100%;
  height: 100%;
}
#prontuario {
  display: none;
  z-index: 1;
  height: 70%;
  width: 80%;
  position: relative;
  background-color: white;
  text-align: left;
}
@media (min-width: 768px) {
  #prontuario {
    left: 75px;
    top: 25px;
  }
}
@media (min-width: 992px) {
  #prontuario {
    left: 100px;
    top: 45px;
  }
}
@media (min-width: 1200px) {
  #prontuario {
    left: 110px;
    top: 45px;
  }
}
#prontuario input {
  width: 100%;
}
#prontuario .notbold,
#prontuario span {
  font-weight: 100;
}
#prontuario .content {
  overflow-y: hidden;
  height: 95%;
}
#prontuario .title {
  height: 5%;
  max-height: 5%;
  text-align: center;
  border-bottom: 1px solid black;
}
#prontuario .row {
  padding: 10px 0px;
  text-align: center;
  border-bottom: 1px black solid;
}
#prontuario .outerBlock {
  padding: 25px;
}
#prontuario .block {
  border: 1px black solid;
}
#prontuario .container {
  height: 40px;
  font-weight: bold;
  border-bottom: 1px black solid;
}
#prontuario .doubleContainer {
  height: 60px;
  font-weight: bold;
  border-bottom: 1px black solid;
}
#prontuario .tripleContainer {
  height: 90px;
  font-weight: bold;
  border-bottom: 1px black solid;
}
#prontuario .oneLeft {
  float: left;
  width: 50%;
  height: 100%;
  border-right: 1px black solid;
}
#prontuario .dataInternacao,
#prontuario .medidas_antropometricas,
#prontuario .filiacaoContainer {
  border: none;
}
#prontuario .doubleLeft {
  float: left;
  width: 50%;
  height: 100%;
  border-right: 1px black solid;
}
#prontuario .tripleLeft {
  float: left;
  width: 50%;
  height: 100%;
  border-right: 1px black solid;
}
#prontuario .oneRight {
  height: 100%;
}
#prontuario .doubleRight {
  height: 50%;
}
#prontuario .tripleRight {
  height: 33.2%;
}
#prontuario .third {
  width: 33%;
  height: 100%;
  float: left;
}
#prontuario .third:not(:last-child) {
  border-right: 1px black solid;
}
#prontuario table.col6 {
  width: 100%;
}
#prontuario table.col6 thead {
  text-align: center;
  border-bottom: 1px solid black;
}
#prontuario table.col6 thead th {
  padding: 5px;
  width: 16%;
}
#prontuario table.col6 thead th:not(:last-child) {
  border-right: 1px solid black;
}
#prontuario table.col6 tbody tr {
  height: 30px;
}
#prontuario table.col6 tbody td:not(:last-child) {
  border-right: 1px solid black;
}
#prontuario table.col6 tbody tr:not(:last-child) {
  border-bottom: 1px solid black;
}
#prontuario table.col4 {
  width: 100%;
}
#prontuario table.col4 thead {
  text-align: center;
  border-bottom: 1px solid black;
}
#prontuario table.col4 thead th {
  padding: 5px;
  width: 25%;
}
#prontuario table.col4 thead th:not(:last-child) {
  border-right: 1px solid black;
}
#prontuario table.col4 tbody tr {
  height: 30px;
}
#prontuario table.col4 tbody td:not(:last-child) {
  border-right: 1px solid black;
}
#prontuario table.col4 tbody tr:not(:last-child) {
  border-bottom: 1px solid black;
}
#prontuario table.col2 {
  width: 100%;
}
#prontuario table.col2 thead {
  text-align: center;
  border-bottom: 1px solid black;
}
#prontuario table.col2 thead th {
  padding: 5px;
}
#prontuario table.col2 thead th:first-child {
  width: 25%;
}
#prontuario table.col2 thead th:not(:last-child) {
  border-right: 1px solid black;
}
#prontuario table.col2 tbody tr {
  height: 30px;
}
#prontuario table.col2 tbody td:not(:last-child) {
  border-right: 1px solid black;
}
#prontuario table.col2 tbody tr:not(:last-child) {
  border-bottom: 1px solid black;
}
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-tabs {
  position: relative;
  
  padding: .2em;
}
.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 0;
  margin: 1px .2em 0 0;
  border-bottom-width: 0;
  padding: 0;
  white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li:last-child {
  float: none;
  background-color: blue;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  float: left;
  padding: .5em 1em;
  text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: -1px;
  padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
  cursor: text;
}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 1em 1.4em;
  background: none;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 4px;
}
#pulseira_modal {
  display: none;
  float: left;
  position: relative;
}
#pulseira_modal #name_display {
  position: absolute;
  width: 170px;
  height: 20px;
  text-align: left;
  cursor: text;
}
@media (min-width: 768px) {
  #pulseira_modal #name_display {
    left: 175px;
    top: 198px;
  }
}
@media (min-width: 992px) {
  #pulseira_modal #name_display {
    left: 226px;
    top: 260px;
  }
}
@media (min-width: 1200px) {
  #pulseira_modal #name_display {
    left: 275px;
    top: 317px;
  }
}
#pulseira_modal #name_input {
  position: absolute;
  width: 170px;
  height: 20px;
  display: none;
}
@media (min-width: 768px) {
  #pulseira_modal #name_input {
    left: 173px;
    top: 197px;
  }
}
@media (min-width: 992px) {
  #pulseira_modal #name_input {
    left: 215px;
    top: 286px;
  }
}
@media (min-width: 1200px) {
  #pulseira_modal #name_input {
    left: 273px;
    top: 316px;
  }
}
#pulseira_modal #data_display {
  position: absolute;
  width: 75px;
  height: 20px;
  text-align: left;
  cursor: text;
}
@media (min-width: 768px) {
  #pulseira_modal #data_display {
    left: 286px;
    top: 217px;
  }
}
@media (min-width: 992px) {
  #pulseira_modal #data_display {
    left: 372px;
    top: 286px;
  }
}
@media (min-width: 1200px) {
  #pulseira_modal #data_display {
    left: 450px;
    top: 348px;
  }
}
#pulseira_modal #data_input {
  position: absolute;
  width: 75px;
  height: 20px;
  display: none;
}
@media (min-width: 768px) {
  #pulseira_modal #data_input {
    left: 284px;
    top: 217px;
  }
}
@media (min-width: 992px) {
  #pulseira_modal #data_input {
    left: 370px;
    top: 286px;
  }
}
@media (min-width: 1200px) {
  #pulseira_modal #data_input {
    left: 448px;
    top: 348px;
  }
}
#pulseira_modal #leito_display {
  position: absolute;
  width: 97px;
  height: 20px;
  text-align: left;
  cursor: text;
}
@media (min-width: 768px) {
  #pulseira_modal #leito_display {
    left: 168px;
    top: 217px;
  }
}
@media (min-width: 992px) {
  #pulseira_modal #leito_display {
    left: 219px;
    top: 284px;
  }
}
@media (min-width: 1200px) {
  #pulseira_modal #leito_display {
    left: 265px;
    top: 348px;
  }
}
#pulseira_modal #leito_input {
  position: absolute;
  width: 97px;
  height: 20px;
  display: none;
}
@media (min-width: 768px) {
  #pulseira_modal #leito_input {
    left: 166px;
    top: 217px;
  }
}
@media (min-width: 992px) {
  #pulseira_modal #leito_input {
    left: 217px;
    top: 284px;
  }
}
@media (min-width: 1200px) {
  #pulseira_modal #leito_input {
    left: 263px;
    top: 348px;
  }
}
#dialogBar {
  text-align: left;
  position: absolute;
  bottom: 0;
  display: none;
  border: solid 1px rgba(0, 0, 0, 0.4);
  box-shadow: #080808 1px 1px 2px;
  background-color: rgba(217, 216, 195, 0.95);
  width: 96%;
  min-height: 25%;
  margin: 2%;
}
#dialogBar-mask {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.dialog_charName {
  font-family: 'Pacifico', cursive;
  text-align: left;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  padding-left: 2%;
  text-decoration: none;
}
@media (min-width: 768px) {
  .dialog_charName {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .dialog_charName {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .dialog_charName {
    font-size: 25px;
  }
}
.dialog_left {
  position: absolute;
  left: 0;
  width: 95%;
  height: 75%;
}
.dialog_right {
  cursor: hand;
  position: absolute;
  text-align: center;
  right: 0;
  width: 5%;
  height: 75%;
}
.on {
  background: url(../../assets/images/misc/arrow-icon_button.png) no-repeat center;
}
.on:hover {
  background-image: url(../../assets/images/misc/arrow-icon_button-hover.png);
}
.off {
  background-image: none;
}
.dialog_mainText {
  padding: 2%;
  font-weight: bold;
}
@media (min-width: 768px) {
  .dialog_mainText {
    font-size: 11px;
  }
}
@media (min-width: 992px) {
  .dialog_mainText {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .dialog_mainText {
    font-size: 18px;
  }
}
.dialog_options {
  text-align: center;
  font-size: 16px;
}
@media (min-width: 768px) {
  .dialog_options {
    font-size: 11px;
  }
}
@media (min-width: 992px) {
  .dialog_options {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .dialog_options {
    font-size: 18px;
  }
}
.dialog_button {
  margin-top: 8px;
  padding: 0 10px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}
.text {
  display: list-item;
  list-style: circle;
  list-style-position: inside;
}
.text:hover {
  color: #276a23;
}
.text:active {
  color: black;
  text-shadow: -1px -1px #666666, 1px 1px #ffffff;
}
.char-receptionist {
  background: url(../../assets/images/characters/recepcionista.png) no-repeat top;
  background-size: cover;
  float: right;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .char-receptionist {
    width: 148px;
    height: 209.5px;
    top: -180px;
    right: 50px;
  }
}
@media screen and (min-width: 992px) {
  .char-receptionist {
    width: 207.2px;
    height: 293.3px;
    top: -255px;
    right: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .char-receptionist {
    width: 296px;
    height: 419px;
    top: -370px;
    right: 50px;
  }
}
.char-mentor {
  background: url(../../assets/images/characters/mentor.png) no-repeat top;
  background-size: cover;
  float: right;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .char-mentor {
    width: 169.8px;
    height: 251.4px;
    top: -220px;
    right: 50px;
  }
}
@media screen and (min-width: 992px) {
  .char-mentor {
    width: 217.91px;
    height: 322.63px;
    top: -280px;
    right: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .char-mentor {
    width: 268.85px;
    height: 398.05px;
    top: -340px;
    right: 50px;
  }
}
.char-patient01 {
  background: url(../../assets/images/characters/char-paciente-01.jpg) no-repeat top;
  background-size: cover;
}
.char-patient02 {
  background: url(../../assets/images/characters/char-paciente-02.jpg) no-repeat top;
  background-size: cover;
}
.char-player {
  background: url(../../assets/images/characters/char-jogador.jpg) no-repeat top;
  background-size: cover;
}
.action_button {
  cursor: hand;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border: 2px solid #FFF;
  border-radius: 100%;
  background-image: url(../../assets/images/action_buttons/sem-imagem.jpg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  width: 10%;
  height: 80%;
  margin: 1% 1%;
}
.actionButton-ui-tooltip,
.arrow:after {
  background: rgba(0, 0, 0, 0.75);
}
.actionButton-ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  font-family: Indie Flower, sans-serif;
  font-size: 22px;
  box-shadow: 0 0 7px black;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px #000000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}
.action_button.enabled:hover {
  border-color: #2d7c2f;
  box-shadow: 0 0 10px #000000;
}
.action_button.disabled {
  background-image: url(../../assets/images/action_buttons/sem-imagem-disabled.jpg);
  border-color: black;
}
.action_button.disabled:hover {
  border-color: red;
}
.action-ir_corredor {
  background-image: url(../../assets/images/action_buttons/ir_corredor.jpg);
}
.action-ir_corredor.disabled {
  background-image: url(../../assets/images/action_buttons/ir_corredor-disabled.jpg);
}
.action-ir_recepcao {
  background-image: url(../../assets/images/action_buttons/ir_recepcao.jpg);
}
.action-ir_recepcao.disabled {
  background-image: url(../../assets/images/action_buttons/ir_recepcao-disabled.jpg);
}
.action-ir_posto_de_enfermagem {
  background-image: url(../../assets/images/action_buttons/ir_posto_de_enfermagem.jpg);
}
.action-ir_posto_de_enfermagem.disabled {
  background-image: url(../../assets/images/action_buttons/ir_posto_de_enfermagem-disabled.jpg);
}
.action-ir_sala_de_leitos {
  background-image: url(../../assets/images/action_buttons/ir_sala_de_leitos.jpg);
}
.action-ir_sala_de_leitos.disabled {
  background-image: url(../../assets/images/action_buttons/ir_sala_de_leitos-disabled.jpg);
}
.action-leito-char-01 {
  background-image: url(../../assets/images/action_buttons/leito-char-01.jpg);
}
.action-leito-char-01.disabled {
  background-image: url(../../assets/images/action_buttons/leito-char-01-disabled.jpg);
}
.action-leito-char-02 {
  background-image: url(../../assets/images/action_buttons/leito-char-02.jpg);
}
.action-leito-char-02.disabled {
  background-image: url(../../assets/images/action_buttons/leito-char-02-disabled.jpg);
}
.action-pulseira_paciente {
  background-image: url(../../assets/images/action_buttons/pulseira.jpg);
}
.action-pulseira_paciente.disabled {
  background-image: url(../../assets/images/action_buttons/pulseira-disabled.jpg);
}
.action-confirmar_paciente {
  background-image: url(../../assets/images/action_buttons/sem-imagem.jpg);
}
.action-fechar_pulseira {
  background-image: url(../../assets/images/action_buttons/sem-imagem.jpg);
}
.action-confirmar_pulseira {
  background-image: url(../../assets/images/action_buttons/confirmar_pulseira.jpg);
}
.action-confirmar_pulseira-disabled {
  background-image: url(../../assets/images/action_buttons/confirmar_pulseira-disabled.jpg);
}
.action-lavar_maos {
  background-image: url(../../assets/images/action_buttons/lavar_maos.jpg);
}
.action-lavar_maos.disabled {
  background-image: url(../../assets/images/action_buttons/lavar_maos-disabled.jpg);
}
.action-medir_temperatura {
  background-image: url(../../assets/images/action_buttons/termometro.jpg);
}
.action-medir_pulso {
  background-image: url(../../assets/images/action_buttons/pressao.jpg);
}
.action-medir_freq_respiratoria {
  background-image: url(../../assets/images/action_buttons/relogio.jpg);
}
.action-medir_saturacao_02 {
  background-image: url(../../assets/images/action_buttons/oximetro.jpg);
}
.action-abrir_gaveta {
  background-image: url(../../assets/images/action_buttons/gaveta.jpg);
}
.action-fechar_gaveta {
  background-image: url(../../assets/images/action_buttons/gaveta.jpg);
}
.action-pegar_termometro {
  background-image: url(../../assets/images/action_buttons/termometro.jpg);
}
.action-pegar_medidor_pressao {
  background-image: url(../../assets/images/action_buttons/pressao.jpg);
}
.action-pegar_oximetro {
  background-image: url(../../assets/images/action_buttons/oximetro.jpg);
}
.action-abrir_dialogo {
  background-image: url(../../assets/images/action_buttons/abrir_dialogo.jpg);
}
.action-abrir_dialogo.disabled {
  background-image: url(../../assets/images/action_buttons/abrir_dialogo-disabled.jpg);
}
.action-examinar_paciente {
  background-image: url(../../assets/images/action_buttons/examinar_paciente.jpg);
}
.action-examinar_paciente.disabled {
  background-image: url(../../assets/images/action_buttons/examinar_paciente-disabled.jpg);
}
.action-anotar_prontuario {
  background-image: url(../../assets/images/action_buttons/anotar_prontuario.jpg);
}
.action-anotar_prontuario.disabled {
  background-image: url(../../assets/images/action_buttons/anotar_prontuario-disabled.jpg);
}
.action-ler_prontuario {
  background-image: url(../../assets/images/action_buttons/prontuario.jpg);
}
.action-ler_prontuario.disabled {
  background-image: url(../../assets/images/action_buttons/prontuario-disabled.jpg);
}
.action-confirmar_prontuario {
  background-image: url(../../assets/images/action_buttons/prontuario-confirma.jpg);
}
.action-confirmar_prontuario.disabled {
  background-image: url(../../assets/images/action_buttons/prontuario-confirma-disabled.jpg);
}
.action-posicionar_coxim {
  background-image: url(../../assets/images/action_buttons/posicionar_coxim.jpg);
}
.action-posicionar_coxim.disabled {
  background-image: url(../../assets/images/action_buttons/posicionar_coxim-disabled.jpg);
}
.action-pegar_coxim {
  background-image: url(../../assets/images/action_buttons/posicionar_coxim.jpg);
}
.action-pegar_coxim.disabled {
  background-image: url(../../assets/images/action_buttons/posicionar_coxim-disabled.jpg);
}
.action-mudar_posicao_paciente {
  background-image: url(../../assets/images/action_buttons/mudar_posicao_paciente.jpg);
}
.action-mudar_posicao_paciente.disabled {
  background-image: url(../../assets/images/action_buttons/mudar_posicao_paciente-disabled.jpg);
}
.action-voltar_menu {
  background-image: url(../../assets/images/action_buttons/voltar_menu.jpg);
}
#endOfLevel {
  position: relative;
  top: 100px;
  left: 165px;
  display: none;
  width: 70%;
  background-color: lightgrey;
  padding: 20px;
}
#endOfLevelContainer .title {
  padding: 10px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  background-color: white;
}
#endOfLevelContainer #scoreList {
  width: 100%;
  border: 1px solid black;
}
#endOfLevelContainer #scoreList thead tr {
  height: 30px;
  background-color: grey;
  border-bottom: 1px solid black;
}
#endOfLevelContainer #scoreList thead th:not(:last-child) {
  border-right: 1px solid black;
}
#endOfLevelContainer #scoreList tbody tr:nth-child(odd) {
  background-color: lightgrey;
}
#endOfLevelContainer #scoreList tbody tr:nth-child(even) {
  background-color: white;
}
#endOfLevelContainer #scoreList tbody tr:not(:last-child) {
  border-bottom: 1px solid black;
}
#endOfLevelContainer #scoreList tbody td:not(:last-child) {
  border-right: 1px solid black;
}
#endOfLevelContainer #scoreList .actions {
  width: 75%;
}
#endOfLevelContainer #scoreList .scores {
  width: 25%;
}
#endOfLevelContainer #scoreList .action {
  width: 75%;
}
#endOfLevelContainer #scoreList .score {
  width: 25%;
}
