#screenConteudo {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#screenConteudo-backImage {
    background: center no-repeat @screen-conteudo;
    &:extend(.menuBackImage);
}