/*
This file is part of Cuidando Bem.
    Cuidando Bem is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Cuidando Bem is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Cuidando Bem.  If not, see <http://www.gnu.org/licenses/>.
*/

@no_image: url(../images/actionButtons/semImagem.jpg);

@anotar_prontuario: url(../images/actionButtons/anotarProntuario.jpg);
@ler_prontuario: url(../images/actionButtons/prontuario.jpg);
@pulseira_paciente: url(../images/actionButtons/pulseira.jpg);
@confirmar_paciente: @no_image;
@fechar_pulseira: @no_image;

@leitoChar01: url(../images/actionButtons/leitoChar01.jpg);
@leitoChar02: url(../images/actionButtons/leitoChar02.jpg);
@posicionar_coxim: url(../images/actionButtons/posicionarCoxim.jpg);
@mudar_posicao_paciente: url(../images/actionButtons/mudarPosicaoPaciente.jpg);

@ir_corredor: url(../images/actionButtons/irCorredor.jpg);

@ir_posto_de_enfermagem: url(../images/actionButtons/irPostoDeEnfermagem.jpg);

@ir_recepcao: url(../images/actionButtons/irRecepcao.jpg);

@ir_sala_de_leitos: url(../images/actionButtons/irSalaDeLeitos.jpg);

@abrir_dialogo: url(../images/actionButtons/abrirDialogo.jpg);

@examinar_paciente: url(../images/actionButtons/examinarPaciente.jpg);

@lavar_maos: url(../images/actionButtons/lavarMaos.jpg);
@lavar_maos_escova: url(../images/actionButtons/lavarMaosEscova.png);

@gaveta: url(../images/actionButtons/gaveta.jpg);
@abrir_gaveta: @gaveta;
@fechar_gaveta: @gaveta;

@pegar_termometro: url(../images/actionButtons/termometro.jpg);

@pegar_medidor_pressao: url(../images/actionButtons/pressao.jpg);

@pegar_oximetro: url(../images/actionButtons/oximetro.jpg);

@medir_temperatura: @pegar_termometro;
@medir_pulso: @pegar_medidor_pressao;
@medir_freq_respiratoria: url(../images/actionButtons/relogio.jpg);
@medir_saturacao_02: @pegar_oximetro;

@agulhas: url(../images/actionButtons/agulhas.jpg);

@elevarCama: url(../images/actionButtons/elevarCama.jpg);
@elevarGrade: url(../images/actionButtons/elevarGrade.jpg);
@agulha_40x12: url(../images/actionButtons/agulha40x12.jpg);
@algodaoSeco: url(../images/actionButtons/algodaoSeco.jpg);
@carrinhoAnestesico: url(../images/actionButtons/carrinhoAnestesico.jpg);
@cloretoSodio_10_10ml: url(../images/actionButtons/cloretoSodio10_10ml.jpg);
@cloretoSodio_20_10ml: url(../images/actionButtons/cloretoSodio20_10ml.jpg);
@clorpromazinaMedicamento: url(../images/actionButtons/clorpromazinaMedicamento.jpg);
@clorpropamidaMedicamento: url(../images/actionButtons/clorpropamidaMedicamento.jpg);
@copoDescartavel: url(../images/actionButtons/copoDescartavel.jpg);
@equipo: url(../images/actionButtons/equipo.jpg);
@equipodeInfusaoAlimentos: url(../images/actionButtons/equipoDeInfusaoAlimentos.jpg);
@fitaAdesivaHipoalergica: url(../images/actionButtons/fitaAdesivaHipoalergica.jpg);
@frascoDieta: url(../images/actionButtons/frascoDieta.jpg);
@garrafaAguaPotavel: url(../images/actionButtons/garrafaAguaPotavel.jpg);
@gazeEsteril: url(../images/actionButtons/gazeEsteril.jpg);
@glicose_30_10ml: url(../images/actionButtons/glicose30_10ml.jpg);
@irLeito: url(../images/actionButtons/irLeito.jpg);
@keflinMedicamento: url(../images/actionButtons/keflinMedicamento.jpg);
@luvasDeProcedimento: url(../images/actionButtons/luvasDeProcedimento.jpg);
@luvasEstereis: url(../images/actionButtons/luvasEstereis.jpg);
@glicosimetro: url(../images/actionButtons/glicosimetro.jpg);
@mentor: url(../images/actionButtons/mentor.jpg);
@midazolamMedicamento: url(../images/actionButtons/midazolamMedicamento.jpg);
@paciente1: url(../images/actionButtons/paciente1.jpg);
@paciente2: url(../images/actionButtons/paciente2.jpg);
@paciente3: url(../images/actionButtons/paciente3.jpg);
@paciente4: url(../images/actionButtons/paciente4.jpg);
@paciente5: url(../images/actionButtons/paciente5.jpg);
@paciente6: url(../images/actionButtons/paciente6.jpg);
@paciente7: url(../images/actionButtons/paciente7.jpg);
@paciente8: url(../images/actionButtons/paciente8.jpg);
@paciente9: url(../images/actionButtons/paciente9.jpg);
@placaNeutra: url(../images/actionButtons/placaNeutra.jpg);
@prepararMedicacao: url(../images/actionButtons/prepararMedicacao.jpg);
@recepcionista: url(../images/actionButtons/recepcionista.jpg);
@seringa10ml: url(../images/actionButtons/seringa10ml.jpg);
@seringa5ml: url(../images/actionButtons/seringa5ml.jpg);
@seringa20ml: url(../images/actionButtons/seringa20ml.jpg);
@soroFisiologico1000ml: url(../images/actionButtons/soroFisiologico1000ml.jpg);
@soroFisiologico100ml: url(../images/actionButtons/soroFisiologico100ml.jpg);
@soroFisiologico250ml: url(../images/actionButtons/soroFisiologico250ml.jpg);
@soroGlicofisiologico1000ml: url(../images/actionButtons/soroGlicofisiologico1000ml.jpg);
@agulha: url(../images/actionButtons/agulha40x12.jpg);
@lixo_comum: url(../images/actionButtons/lixo_comum.jpg);
@lixo_infectante: url(../images/actionButtons/lixo_infectante.jpg);
@lixo_perfuro_cortante: url(../images/actionButtons/lixo_perfuro_cortante.jpg);
@admnistrar_medicamento: url(../images/actionButtons/administrarMedicamento.jpg);
@fazer_curativo: url(../images/actionButtons/fazerCurativo.jpg);
@colocarSoro: url(../images/actionButtons/colocarSoro.jpg);
@colocarSoroDieta: url(../images/actionButtons/colocarDieta.jpg);
@pegarSuporte: url(../images/actionButtons/pegarSuporte.jpg);
@voltarRecepcao: url(../images/actionButtons/voltarRecepcao.jpg);
@9certos: url(../images/actionButtons/9certos.jpg);
@identificarMedicacao: url(../images/actionButtons/indentificarMedicacao.jpg);
@irCentroCirurgico: url(../images/actionButtons/irCentroCirurgico.jpg);
@medicamentosFase10: url(../images/actionButtons/medicamentosFase10.jpg);
//endregion

//region Characters
@char-receptionist: url(../images/characters/recepcionista.png);
@char-mentor: url(../images/characters/mentor.png);
@char-farmaceutico: url(../images/characters/farmaceutico.png);
@char-circulante: url(../images/characters/circulanteDeLeito.png);
@char-paciente1: url(../images/characters/paciente1.png);
@char-paciente2: url(../images/characters/paciente2.png);
@char-paciente3: url(../images/characters/paciente3.png);
@char-paciente4: url(../images/characters/paciente4.png);
@char-paciente5: url(../images/characters/paciente5.png);
@char-paciente6: url(../images/characters/paciente6.png);
@char-paciente7: url(../images/characters/paciente7.png);
@char-paciente8: url(../images/characters/paciente8.png);
@char-paciente9: url(../images/characters/paciente9.png);

//endregion

//region Interactive Objects
@intObj-talkToReceptionist: url(../images/interactiveObjects/intObj-receptionist.png);
@intObj-thermometer: url(../images/interactiveObjects/termometro.png);
@intObj-bloodPressureMonitor: url(../images/interactiveObjects/pressao.png);
@intObj-oximeter: url(../images/interactiveObjects/oximetro.png);
@intObj-charMentor: url(../images/interactiveObjects/char-mentor.png);
@intObj-charCirculante: url(../images/interactiveObjects/circulanteDeLeito.png);
@intObj-cushion: url(../images/interactiveObjects/coxim.png);
@intObj-paciente_01-checar_pulseira: url(../images/interactiveObjects/pulseira01.png);
@intObj-paciente_02-checar_pulseira: url(../images/interactiveObjects/pulseira02.png);
@intObj-paciente_02-checar_pulseira_virado: url(../images/interactiveObjects/pulseira02_virado.png);
@intObj-paciente_03-checar_pulseira: url(../images/interactiveObjects/pulseira03.png);
@intObj-paciente_04-checar_pulseira: url(../images/interactiveObjects/pulseira04.png);
@intObj-paciente_05-checar_pulseira: url(../images/interactiveObjects/pulseira05.png);
@intObj-paciente_06-checar_pulseira: url(../images/interactiveObjects/pulseira06.png);
@intObj-paciente_07-checar_pulseira: url(../images/interactiveObjects/pulseira07.png);
@intObj-paciente_07-checar_pulseira2: url(../images/interactiveObjects/pulseira04.png);
@intObj-paciente_08-checar_pulseira: url(../images/interactiveObjects/pulseira08.png);
@intObj-paciente_09-checar_pulseira: url(../images/interactiveObjects/pulseira09.png);
// imagem da pulseira 10 é igual a da pulseira 05 (mesmo paciente)
@intObj-paciente_10-checar_pulseira: url(../images/interactiveObjects/pulseira05.png);
@intObj-watch: url(../images/interactiveObjects/relogio.png);
@intObj-copoDescartavel: url(../images/interactiveObjects/copo_descartavel.png);
@intObj-aguaPotavel: url(../images/interactiveObjects/garrafa_agua_potavel.png);
@intObj-9certos: url(../images/interactiveObjects/9certos.png);
@intObj-vaso: url(../images/interactiveObjects/vaso.png);

@intObj-algodao: url(../images/interactiveObjects/algodao_seco.png);
@intObj-luvas: url(../images/interactiveObjects/algodao_seco.png);
@intObj-bandeja: url(../images/interactiveObjects/algodao_seco.png);
@intObj-aparelhoGlicemia: url(../images/interactiveObjects/glicosimetro.png);
@intObj-algodao: url(../images/interactiveObjects/algodao_seco.png);
@intObj-balcao: url(../images/interactiveObjects/balcao.png);
@intObj-porta: url(../images/interactiveObjects/porta.png);

@intObj-agulhas: url(../images/interactiveObjects/agulhas.png);

@intObj-agulha_40x12: url(../images/interactiveObjects/agulha_40x12.png);
@intObj-algodao_seco: url(../images/interactiveObjects/algodao_seco.png);
@intObj-aparelhodepressao_frontal: url(../images/interactiveObjects/aparelhodepressao_frontal.png);
@intObj-aparelhodepressao_lateral: url(../images/interactiveObjects/aparelhodepressao_lateral.png);
@intObj-bandeja: url(../images/interactiveObjects/bandeja.png);
@intObj-carrinho_anestesico: url(../images/interactiveObjects/carrinho_anestesico.png);
@intObj-cloreto_de_sodio_10__10_ml_: url(../images/interactiveObjects/cloreto_de_sodio_10__10_ml_.png);
@intObj-cloreto_de_sodio_20__10_ml_: url(../images/interactiveObjects/cloreto_de_sodio_20__10_ml_.png);
@intObj-clorpromazina_medicamento: url(../images/interactiveObjects/clorpromazina_medicamento.png);
@intObj-clorpropamida_medicamento: url(../images/interactiveObjects/clorpropamida_medicamento.png);
@intObj-copo_descartavel: url(../images/interactiveObjects/copo_descartavel.png);
@intObj-coxim: url(../images/interactiveObjects/coxim.png);
@intObj-equipo_de_infusao_de_dieta: url(../images/interactiveObjects/equipo_de_infusao_de_dieta.png);
@intObj-equipo_de_soro: url(../images/interactiveObjects/equipo_de_soro.png);
@intObj-equipo_de_soro_fase4: url(../images/interactiveObjects/equipo_de_soro.png);
@intObj-fita_adesiva_hipoalergenica_micropore: url(../images/interactiveObjects/fita_adesiva_hipoalergenica_micropore.png);
@intObj-frasco_de_alcool: url(../images/interactiveObjects/frasco_de_alcool.png);
@intObj-frasco_de_dieta: url(../images/interactiveObjects/frasco_de_dieta.png);
@intObj-garrafa_agua_potavel: url(../images/interactiveObjects/garrafa_agua_potavel.png);
@intObj-gaveta: url(../images/interactiveObjects/gaveta.png);
@intObj-gaze_esteril: url(../images/interactiveObjects/gaze_esteril.png);
@intObj-glicose_30__10_ml: url(../images/interactiveObjects/glicose_30__10_ml.png);
@intObj-keflin_medicamento: url(../images/interactiveObjects/keflin_medicamento.png);
@intObj-lixo_comum: url(../images/interactiveObjects/lixo_comum.png);
@intObj-lixo_infectante: url(../images/interactiveObjects/lixo_infectante.png);
@intObj-lixo_perfuro_cortante: url(../images/interactiveObjects/lixo_perfuro_cortante.png);
@intObj-luvas_de_procedimento: url(../images/interactiveObjects/luvas_de_procedimento.png);
@intObj-luvas_de_procedimento_fase5: url(../images/interactiveObjects/luvas_de_procedimento.png);
@intObj-luvas_estereis: url(../images/interactiveObjects/luvas_estereis.png);
@intObj-midazolam_medicamento: url(../images/interactiveObjects/midazolam_medicamento.png);
@intObj-oximetro_frontal: url(../images/interactiveObjects/oximetro_frontal.png);
@intObj-oximetro_lateral: url(../images/interactiveObjects/oximetro_lateral.png);
@intObj-placa_neutra: url(../images/interactiveObjects/placa_neutra.png);
@intObj-prancheta: url(../images/interactiveObjects/prancheta.png);
@intObj-prancheta_horizontal: url(../images/interactiveObjects/prancheta_horizontal.png);
@intObj-prontuario: url(../images/interactiveObjects/prontuario.png);
@intObj-relogiodigital: url(../images/interactiveObjects/relogiodigital.png);
@intObj-relogiodigital_lateral: url(../images/interactiveObjects/relogiodigital_lateral.png);
@intObj-seringa_5_ml: url(../images/interactiveObjects/seringa_5_ml.png);
@intObj-seringa_20_ml: url(../images/interactiveObjects/seringa_20_ml.png);
@intObj-seringa_de_10_ml: url(../images/interactiveObjects/seringa_de_10_ml.png);
@intObj-seringa_de_10_ml_fase4: url(../images/interactiveObjects/seringa_de_10_ml.png);
@intObj-soro_fisiologico_100_ml: url(../images/interactiveObjects/soro_fisiologico_100_ml.png);
@intObj-soro_fisiologico_250_ml: url(../images/interactiveObjects/soro_fisiologico_250_ml.png);
@intObj-soro_fisiologico_1000_ml: url(../images/interactiveObjects/soro_fisiologico_1000_ml.png);
@intObj-soro_glicofisiologico_1000_ml: url(../images/interactiveObjects/soro_glicofisiologico_1000_ml.png);
@intObj-termometro_frontal: url(../images/interactiveObjects/termometro_frontal.png);
@intObj-glicose_30_10ml: url(../images/interactiveObjects/glicose30_10ml.png);

@info: url(../images/misc/balaoInfo01.png);
@info01: url(../images/misc/balaoInfo02.png);
@arrow_dialog_button: url(../images/misc/arrow-icon_button.png);
@arrow_dialog_button-hover: url(../images/misc/arrow-icon_button-hover.png);
@bg-menu_button: url(../images/misc/button-bg.png);
@bg-body: url(../images/misc/shattered.png);
@muteActive: url(../images/misc/muteButtonAtivo.png);
@muteDesactive: url(../images/misc/muteButtonDesativado.png);
@locker: url(../images/misc/locker.png);
@pauseCog: url(../images/misc/pauseButton.png);
@loadScreenLogo: url(../images/misc/cruz.png);
@loadScreenText: url(../images/misc/textoCuidandoBem.png);

@bg-drawer: url(../images/modalScenes/gaveta.png);
@bg-bracelet: url(../images/modalScenes/pulseira.png);
@bg-termometro: url(../images/modalScenes/termometro.png);
@bg-medidor_pressao: url(../images/modalScenes/medidorPressao.png);
@bg-relogio_digital: url(../images/modalScenes/relogioDigital.png);
@bg-oximetro: url(../images/modalScenes/oximetro.png);
@bg-zoom-char-2: url(../images/modalScenes/zoom-char-02.png);
@bg-glicosimetro: url(../images/modalScenes/glicosimetro.png);
@bg-glicosimetroComFita: url(../images/modalScenes/glicosimetroComSangue.png);
@bg-prontuario: url(../images/modalScenes/prontuario.png);
@bg-cloreto_de_sodio_20_10_ml: url(../images/modalScenes/cloreto_de_sodio_20__10_ml_.png);
@bg-clorpromazina_medicamento: url(../images/modalScenes/clorpromazina_medicamento.png);
@bg-clorpropamida_medicamento: url(../images/modalScenes/clorpropamida_medicamento.png);
@bg-frasco_de_dieta: url(../images/modalScenes/frasco_de_dieta.png);
@bg-keflin_medicamento: url(../images/modalScenes/keflin_medicamento.png);
@bg-midazolam_medicamento: url(../images/modalScenes/midazolam_medicamento.png);
@bg-soro_glicofisiologico_1000_ml: url(../images/modalScenes/soro_glicofisiologico_1000_ml.png);
@bg-medicamentosFase10: url(../images/modalScenes/medicamentosFase10.png);
@bg-empty: url(../images/modalScenes/empty.png);

@bg-equipoDeSoro: url(../images/modalScenes/soro/controleGotejadorSoro.png);
@bg-equipoDeDieta: url(../images/modalScenes/dieta/controleGotejadorDieta.png);

@bg-sliderSoro: url(../images/modalScenes/soro/sliderSoro.png);
@bg-sliderDieta: url(../images/modalScenes/dieta/sliderDieta.png);

@bg-nove_certos_medicacao: url(../images/modalScenes/9_certos_da_medicacao.png);

@screen-mainMenu: url(../images/screens/tela_inicial.jpg);
@screen-loadGame: url(../images/screens/tela_carregarFundo.jpg);
@screen-levelSelect: url(../images/screens/tela_levelSelect.jpg);
@screen-credits: url(../images/screens/credits.jpg);
@screen-config: url(../images/screens/config.jpg);
@screen-conteudo: url(../images/screens/conteudo.jpg);
@screen-vitoria: url(../images/screens/vitoria.jpg);
@screen-derrota-mentor: url(../images/screens/mentorDerrota.png);
@mainMenu-prancheta: url(../images/misc/telaInicialPrancheta.png);
@slotSelect-prontuario: url(../images/misc/prontuario.png);
@slotSelect-logo: url(../images/misc/logo.png);

@scene-lobby: url(../images/scenes/recepcao.jpg);
@scene-nursingStation: url(../images/scenes/postoDeEnfermagem.jpg);
@scene-maleRoom: url(../images/scenes/alaMasculina.jpg);
@scene-maleRoom-cushion: url(../images/scenes/alaMasculinaPacienteVirado.jpg);
@scene-femaleRoom: url(../images/scenes/alaFeminina.png);
//@scene-bedroom: url(../images/scenes/salaDeLeitos.jpg);

@scene-bedroom: url(../images/scenes/quartos.jpg);
@scene-bedroom-level1: url(../images/scenes/quartos1.jpg);
//@scene-bedroom-level1: url(../images/scenes/quartos1.jpg);
@scene-bedroom-level2a: url(../images/scenes/quartos2a.jpg);
// @scene-bedroom-level1a: url(../images/scenes/quartos1b.jpg);
@scene-bedroom-level2b: url(../images/scenes/quartos2b.jpg);
//@scene-bedroom-level1c: url(../images/scenes/quartos1.jcpg);
@scene-bedroom-level3a: url(../images/scenes/quartos3a.jpg);
@scene-bedroom-level3b: url(../images/scenes/quartos3b.jpg);
@scene-bedroom-level4: url(../images/scenes/quartos4.jpg);
@scene-bedroom-level5: url(../images/scenes/quartos5.jpg);
@scene-bedroom-level6: url(../images/scenes/quartos6.jpg);
@scene-bedroom-level7: url(../images/scenes/quartos7.jpg);
@scene-bedroom-level8: url(../images/scenes/quartos8.jpg);
@scene-bedroom-level9a: url(../images/scenes/quartos9a.jpg);
@scene-bedroom-level9b: url(../images/scenes/quartos9b.jpg);
@scene-bedroom-level10a: url(../images/scenes/quartos10a.jpg);
@scene-bedroom-level10b: url(../images/scenes/quartos10b.jpg);

// Centro Cirúrgico
@scene-surgeryCenter: url(../images/scenes/centroCirurgico.jpg);
@scene-centroCirurgicoRegina: url(../images/scenes/centroCirurgicoRegina.jpg);
@scene-centroCirurgicoReginaComPlaca: url(../images/scenes/centroCirurgicoReginaComPlaca.jpg);
@scene-centroCirurgicoYuri: url(../images/scenes/centroCirurgicoYuri.jpg);
@scene-centroCirurgicoYuriComPlaca: url(../images/scenes/centroCirurgicoYuriComPlaca.jpg);

@scene-infirmary: url('');
@scene-levelTransition: url(../images/scenes/fimLevel.jpg);
@scene-hallway: url(../images/scenes/corredor2.jpg);
@scene-pharmacy: url(../images/scenes/farmacia.jpg);

@scene-bedChar01: url(../images/scenes/leitoChar01.jpg);
@scene-bedChar02: url(../images/scenes/leitoChar02.jpg);
@scene-bedChar02-turned: url(../images/scenes/leitoChar02Virado.jpg);
@scene-bedChar02-cushion: url(../images/scenes/leitoChar02Coxim.jpg);
@scene-bedChar03: url(../images/scenes/leitoChar03.jpg);
@scene-bedChar03-01: url(../images/scenes/leitoChar03-01.jpg);
@scene-bedChar04: url(../images/scenes/leitoChar04.jpg);
@scene-bedChar05: url(../images/scenes/leitoChar05.jpg);
@scene-bedChar05b: url(../images/scenes/leitoChar05b.jpg);
@scene-bedChar05c: url(../images/scenes/leitoChar05c.jpg);
@scene-bedChar06: url(../images/scenes/leitoChar06.jpg);
@scene-bedChar06b: url(../images/scenes/leitoChar06b.jpg);
@scene-bedChar06c: url(../images/scenes/leitoChar06c.jpg);
@scene-bedChar07: url(../images/scenes/leitoChar07.jpg);
@scene-bedChar07b: url(../images/scenes/leitoChar07b.jpg);
@scene-bedChar07c: url(../images/scenes/leitoChar07c.jpg);
@scene-bedChar07d: url(../images/scenes/leitoChar07d.jpg);
@scene-bedChar08: url(../images/scenes/leitoChar08.jpg);
@scene-bedChar09: url(../images/scenes/leitoChar09.jpg);
@scene-bedChar10: url(../images/scenes/leitoChar10.jpg);
@scene-bedChar10B: url(../images/scenes/leitoChar10b.jpg);
@scene-bedChar10C: url(../images/scenes/leitoChar10c.jpg);
// Com grade
@scene-bedChar01-grade: url(../images/scenes/leitoChar01Grade.jpg);
@scene-bedChar02-grade: url(../images/scenes/leitoChar02Grade.jpg);
@scene-bedChar02-turned-grade: url(../images/scenes/leitoChar02ViradoGrade.jpg);
@scene-bedChar02-cushion-grade: url(../images/scenes/leitoChar02CoximGrade.jpg);
@scene-bedChar03-grade: url(../images/scenes/leitoChar03Grade.jpg);
@scene-bedChar04-grade: url(../images/scenes/leitoChar04Grade.jpg);
@scene-bedChar05-grade: url(../images/scenes/leitoChar05Grade.jpg);
@scene-bedChar06-grade: url(../images/scenes/leitoChar06Grade.jpg);
//@scene-bedChar07-grade: url(../images/scenes/leitoChar07Grade.jpg);
@scene-bedChar08-grade: url(../images/scenes/leitoChar08Grade.jpg);
@scene-bedChar09-grade: url(../images/scenes/leitoChar09Grade.jpg);
@scene-bedChar10-grade: url(../images/scenes/leitoChar10Grade.jpg);

// Animação

@animation-corredor-background: url(../images/animation/02_fundo.png);
@animation-corredor-porta: url(../images/animation/02_porta.png);
@animation-escritorio-background: url(../images/animation/03_fundo.png);
@animation-escritorio-mentor1: url(../images/animation/03_mentor_A00.png);
@animation-escritorio-mentor2: url(../images/animation/03_mentor_B00.png);
@animation-escritorio-antebraco: url(../images/animation/03_mentor_B01.png);
@animation-escritorio-braco: url(../images/animation/03_mentor_B02.png);
@animation-mesa-background: url(../images/animation/04_fundo.png);
@animation-mesa-mao: url(../images/animation/04_mao.png);
@animation-mesa-contrato: url(../images/animation/04_contrato.png);

// Logos creditos
@logo-sead: url(../images/misc/logo-sead.png);
@logo-proex: url(../images/misc/logo-proex.png);
@logo-ufscar: url(../images/misc/logo-ufscar.png);
@logo-proext: url(../images/misc/logo-proext.png);
@logo-capes: url(../images/misc/logo-capes.png);
@logo-fapesp: url(../images/misc/logo-fapesp.png);
@logo-governo: url(../images/misc/logo-governo.png);
@logo-loa: url(../images/misc/logo-loa.png);
