//region Action Buttons
@no_image: url(../images/actionButtons/semImagem.jpg);

@anotar_prontuario: url(../images/actionButtons/anotarProntuario.jpg);
@ler_prontuario: url(../images/actionButtons/prontuario.jpg);
@confirmar_prontuario: url(../images/actionButtons/prontuarioConfirma.jpg);
@pulseira_paciente: url(../images/actionButtons/pulseira.jpg);
@confirmar_pulseira: url(../images/actionButtons/confirmarPulseira.jpg);
@confirmar_paciente: @no_image;
@fechar_pulseira: @no_image;

@leitoChar01: url(../images/actionButtons/leitoChar01.jpg);
@leitoChar02: url(../images/actionButtons/leitoChar02.jpg);
@posicionar_coxim: url(../images/actionButtons/posicionarCoxim.jpg);
@mudar_posicao_paciente: url(../images/actionButtons/mudarPosicaoPaciente.jpg);

@voltar_menu: url(../images/actionButtons/voltarMenu.jpg);

@ir_corredor: url(../images/actionButtons/irCorredor.jpg);

@ir_posto_de_enfermagem: url(../images/actionButtons/irPostoDeEnfermagem.jpg);

@ir_recepcao: url(../images/actionButtons/irRecepcao.jpg);

@ir_sala_de_leitos: url(../images/actionButtons/irSalaDeLeitos.jpg);

@abrir_dialogo: url(../images/actionButtons/abrirDialogo.jpg);

@examinar_paciente: url(../images/actionButtons/examinarPaciente.jpg);

@lavar_maos: url(../images/actionButtons/lavarMaos.jpg);
@lavar_maos_escova: url(../images/actionButtons/lavarMaosEscova.png);

@gaveta: url(../images/actionButtons/gaveta.jpg);
@abrir_gaveta: @gaveta;
@fechar_gaveta: @gaveta;

@pegar_termometro: url(../images/actionButtons/termometro.jpg);

@pegar_medidor_pressao: url(../images/actionButtons/pressao.jpg);

@pegar_oximetro: url(../images/actionButtons/oximetro.jpg);

@medir_temperatura: @pegar_termometro;
@medir_pulso: @pegar_medidor_pressao;
@medir_freq_respiratoria: url(../images/actionButtons/relogio.jpg);
@medir_saturacao_02: @pegar_oximetro;

@agulha_40x12 : url(../images/actionButtons/agulha40x12.jpg);
@algodaoSeco : url(../images/actionButtons/algodaoSeco.jpg);
@carrinhoAnestesico : url(../images/actionButtons/carrinhoAnestesico.jpg);
@cloretoSodio_10_10ml : url(../images/actionButtons/cloretoSodio10_10ml.jpg);
@cloretoSodio_20_10ml : url(../images/actionButtons/cloretoSodio20_10ml.jpg);
@clorpromazinaMedicamento : url(../images/actionButtons/clorpromazinaMedicamento.jpg);
@clorpropamidaMedicamento : url(../images/actionButtons/clorpropamidaMedicamento.jpg);
@copoDescartavel : url(../images/actionButtons/copoDescartavel.jpg);
@equipo : url(../images/actionButtons/equipo.jpg);
@equipodeInfusaoAlimentos : url(../images/actionButtons/equipoDeInfusaoAlimentos.jpg);
@fitaAdesivaHipoalergica : url(../images/actionButtons/fitaAdesivaHipoalergica.jpg);
@frascoDieta : url(../images/actionButtons/frascoDieta.jpg);
@garrafaAguaPotavel : url(../images/actionButtons/garrafaAguaPotavel.jpg);
@gazeEsteril : url(../images/actionButtons/gazeEsteril.jpg);
@glicose_30_10ml : url(../images/actionButtons/glicose30_10ml.jpg);
@irLeito : url(../images/actionButtons/irLeito.jpg);
@keflinMedicamento : url(../images/actionButtons/keflinMedicamento.jpg);
@luvasDeProcedimento : url(../images/actionButtons/luvasDeProcedimento.jpg);
@luvasEstereis : url(../images/actionButtons/luvasEstereis.jpg);
@glicosimetro : url(../images/actionButtons/glicosimetro.jpg);
@mentor : url(../images/actionButtons/mentor.jpg);
@midazolamMedicamento : url(../images/actionButtons/midazolamMedicamento.jpg);
@paciente1 : url(../images/actionButtons/paciente1.jpg);
@paciente2 : url(../images/actionButtons/paciente2.jpg);
@paciente3 : url(../images/actionButtons/paciente3.jpg);
@paciente4 : url(../images/actionButtons/paciente4.jpg);
@paciente5 : url(../images/actionButtons/paciente5.jpg);
@paciente6 : url(../images/actionButtons/paciente6.jpg);
@paciente7 : url(../images/actionButtons/paciente7.jpg);
@paciente8 : url(../images/actionButtons/paciente8.jpg);
@paciente9 : url(../images/actionButtons/paciente9.jpg);
@placaNeutra : url(../images/actionButtons/placaNeutra.jpg);
@prontuario-original : url(../images/actionButtons/prontuario-original.jpg);
@recepcionista : url(../images/actionButtons/recepcionista.jpg);
@seringa10ml : url(../images/actionButtons/seringa10ml.jpg);
@seringa5ml : url(../images/actionButtons/seringa5ml.jpg);
@soroFisiologico1000ml : url(../images/actionButtons/soroFisiologico1000ml.jpg);
@soroFisiologico100ml : url(../images/actionButtons/soroFisiologico100ml.jpg);
@soroFisiologico250ml : url(../images/actionButtons/soroFisiologico250ml.jpg);
@soroGlicofisiologico1000ml : url(../images/actionButtons/soroGlicofisiologico1000ml.jpg);
@agulha : url(../images/actionButtons/agulha40x12.jpg);
//endregion

//region Characters
@char-receptionist: url(../images/characters/recepcionista.png);
@char-mentor: url(../images/characters/mentor.png);
@char-circulante: url(../images/characters/circulanteDeLeito.png);
@char-paciente1: url(../images/characters/paciente1.png);
@char-paciente2: url(../images/characters/paciente2.png);
@char-paciente3: url(../images/characters/paciente3.png);
@char-paciente4: url(../images/characters/paciente4.png);
@char-paciente5: url(../images/characters/paciente5.png);
@char-paciente6: url(../images/characters/paciente6.png);
@char-paciente7: url(../images/characters/paciente7.png);
@char-paciente8: url(../images/characters/paciente8.png);
@char-paciente9: url(../images/characters/paciente9.png);

//endregion

//region Interactive Objects
@intObj-thermometer: url(../images/interactiveObjects/termometro.png);
@intObj-bloodPressureMonitor: url(../images/interactiveObjects/pressao.png);
@intObj-oximeter: url(../images/interactiveObjects/oximetro.png);
@intObj-charMentor: url(../images/interactiveObjects/char-mentor.png);
@intObj-charCirculante: url(../images/interactiveObjects/circulanteDeLeito.png);
@intObj-braceletConfirmationGray: url(../images/interactiveObjects/checkmark-gray.png);
@intObj-braceletConfirmationGreen: url(../images/interactiveObjects/checkmark.png);
@intObj-cushion: url(../images/interactiveObjects/coxim.png);
@intObj-paciente_01-checar_pulseira: url(../images/interactiveObjects/pulseira01.png);
@intObj-paciente_02-checar_pulseira: url(../images/interactiveObjects/pulseira02.png);
@intObj-paciente_03-checar_pulseira: url(../images/interactiveObjects/pulseira03.png);
@intObj-paciente_04-checar_pulseira: url(../images/interactiveObjects/pulseira04.png);
@intObj-paciente_05-checar_pulseira: url(../images/interactiveObjects/pulseira05.png);
@intObj-paciente_06-checar_pulseira: url(../images/interactiveObjects/pulseira06.png);
@intObj-paciente_07-checar_pulseira: url(../images/interactiveObjects/pulseira07.png);
@intObj-paciente_08-checar_pulseira: url(../images/interactiveObjects/pulseira08.png);
@intObj-paciente_09-checar_pulseira: url(../images/interactiveObjects/pulseira09.png);
@intObj-paciente_10-checar_pulseira: url(../images/interactiveObjects/pulseira10.png);
@intObj-watch: url(../images/interactiveObjects/relogio.png);
@intObj-copoDescartavel: url(../images/interactiveObjects/copo_descartavel.png);
@intObj-aguaPotavel: url(../images/interactiveObjects/garrafa_agua_potavel.png);

@intObj-algodao: url(../images/interactiveObjects/algodao_seco.png);
@intObj-luvas: url(../images/interactiveObjects/algodao_seco.png);
@intObj-bandeja: url(../images/interactiveObjects/algodao_seco.png);
@intObj-aparelhoGlicemia: url(../images/interactiveObjects/glicosimetro.png);
@intObj-algodao: url(../images/interactiveObjects/algodao_seco.png);

//18/11/2015 - Todos em portugues
@intObj-agulha_40x12 : url(../images/interactiveObjects/agulha_40x12.png);
@intObj-algodao_seco : url(../images/interactiveObjects/algodao_seco.png);
@intObj-aparelhodepressao_frontal : url(../images/interactiveObjects/aparelhodepressao_frontal.png);
@intObj-aparelhodepressao_lateral : url(../images/interactiveObjects/aparelhodepressao_lateral.png);
@intObj-bandeja : url(../images/interactiveObjects/bandeja.png);
@intObj-carrinho_anestesico : url(../images/interactiveObjects/carrinho_anestesico.png);
@intObj-cloreto_de_sodio_20__10_ml_ : url(../images/interactiveObjects/cloreto_de_sodio_20__10_ml_.png);
@intObj-clorpromazina_medicamento : url(../images/interactiveObjects/clorpromazina_medicamento.png);
@intObj-clorpropamida_medicamento : url(../images/interactiveObjects/clorpropamida_medicamento.png);
@intObj-copo_descartavel : url(../images/interactiveObjects/copo_descartavel.png);
@intObj-coxim : url(../images/interactiveObjects/coxim.png);
@intObj-equipo_de_infusao_de_dieta : url(../images/interactiveObjects/equipo_de_infusao_de_dieta.png);
@intObj-fita_adesiva_hipoalergenica_micropore : url(../images/interactiveObjects/fita_adesiva_hipoalergenica_micropore.png);
@intObj-frasco_de_alcool : url(../images/interactiveObjects/frasco_de_alcool.png);
@intObj-frasco_de_dieta : url(../images/interactiveObjects/frasco_de_dieta.png);
@intObj-garrafa_agua_potavel : url(../images/interactiveObjects/garrafa_agua_potavel.png);
@intObj-gaveta : url(../images/interactiveObjects/gaveta.png);
@intObj-gaze_esteril : url(../images/interactiveObjects/gaze_esteril.png);
@intObj-keflin_medicamento : url(../images/interactiveObjects/keflin_medicamento.png);
@intObj-lixo_comum : url(../images/interactiveObjects/lixo_comum.png);
@intObj-lixo_infectante : url(../images/interactiveObjects/lixo_infectante.png);
@intObj-lixo_perfuro_cortante : url(../images/interactiveObjects/lixo_perfuro_cortante.png);
@intObj-luvas_de_procedimento : url(../images/interactiveObjects/luvas_de_procedimento.png);
@intObj-luvas_estereis : url(../images/interactiveObjects/luvas_estereis.png);
@intObj-midazolam_medicamento : url(../images/interactiveObjects/midazolam_medicamento.png);
@intObj-oximetro_frontal : url(../images/interactiveObjects/oximetro_frontal.png);
@intObj-oximetro_lateral : url(../images/interactiveObjects/oximetro_lateral.png);
@intObj-placa_neutra : url(../images/interactiveObjects/placa_neutra.png);
@intObj-prancheta : url(../images/interactiveObjects/prancheta.png);
@intObj-prancheta_horizontal : url(../images/interactiveObjects/prancheta_horizontal.png);
@intObj-prontuario : url(../images/interactiveObjects/prontuario.png);
@intObj-relogiodigital : url(../images/interactiveObjects/relogiodigital.png);
@intObj-relogiodigital_lateral : url(../images/interactiveObjects/relogiodigital_lateral.png);
@intObj-seringa_20_ml : url(../images/interactiveObjects/seringa_20_ml.png);
@intObj-seringa_de_10_ml : url(../images/interactiveObjects/seringa_de_10_ml.png);
@intObj-soro_glicofisiologico_1000_ml : url(../images/interactiveObjects/soro_glicofisiologico_1000_ml.png);
@intObj-termometro_frontal : url(../images/interactiveObjects/termometro_frontal.png);
//endregion

//region Misc
@arrow_dialog_button: url(../images/misc/arrow-icon_button.png);
@arrow_dialog_button-hover: url(../images/misc/arrow-icon_button-hover.png);
@bg-menu_button: url(../images/misc/button-bg.png);
@bg-body: url(../images/misc/shattered.png);
@muteActive: url(../images/misc/muteButtonAtivo.png);
@muteDesactive: url(../images/misc/muteButtonDesativado.png);
@locker: url(../images/misc/locker.png);
//endregion

//region Modal Scenes
@bg-drawer: url(../images/modalScenes/gaveta.png);
@bg-bracelet: url(../images/modalScenes/pulseira.png);
@bg-termometro: url(../images/modalScenes/termometro.png);
@bg-medidor_pressao: url(../images/modalScenes/medidorPressao.png);
@bg-relogio_digital: url(../images/modalScenes/relogioDigital.png);
@bg-oximetro: url(../images/modalScenes/oximetro.png);
@bg-zoom-char-2: url(../images/modalScenes/zoom-char-02.png);
@bg-glicosimetro: url(../images/modalScenes/glicosimetro.png);
@bg-prontuario: url(../images/modalScenes/prontuario.png);
//endregion

//region screens
@screen-mainMenu: url(../images/screens/tela_inicial.jpg);
@screen-loadGame: url(../images/screens/tela_carregarFundo.jpg);
@screen-levelSelect: url(../images/screens/tela_levelSelect.jpg);
@screen-credits: url(../images/screens/credits.jpg);
@screen-config: url(../images/screens/config.jpg);
@screen-conteudo: url(../images/screens/conteudo.jpg);
@mainMenu-prancheta: url(../images/misc/telaInicialPrancheta.png);
@slotSelect-prontuario: url(../images/misc/prontuario.png);
@slotSelect-logo: url(../images/misc/logo.png);
//endregion

//region Scenes

@scene-lobby: url(../images/scenes/recepcao.jpg);
@scene-nursingStation: url(../images/scenes/postoDeEnfermagem.jpg);
@scene-maleRoom: url(../images/scenes/alaMasculina.jpg);
@scene-maleRoom-cushion: url(../images/scenes/alaMasculinaPacienteVirado.jpg);
@scene-femaleRoom: url(../images/scenes/alaFeminina.png);
//@scene-bedroom: url(../images/scenes/salaDeLeitos.jpg);

@scene-bedroom: url(../images/scenes/quartos.jpg);
@scene-bedroom-level0: url(../images/scenes/quartos0.jpg);
@scene-bedroom-level1: url(../images/scenes/quartos1.jpg);
@scene-bedroom-level1a: url(../images/scenes/quartos1a.jpg);
@scene-bedroom-level1b: url(../images/scenes/quartos1.bjpg);
@scene-bedroom-level1c: url(../images/scenes/quartos1.jcpg);
@scene-bedroom-level2: url(../images/scenes/quartos2.jpg);
@scene-bedroom-level3: url(../images/scenes/quartos3.jpg);
@scene-bedroom-level4: url(../images/scenes/quartos4.jpg);
@scene-bedroom-level5: url(../images/scenes/quartos5.jpg);
@scene-bedroom-level6: url(../images/scenes/quartos6.jpg);
@scene-bedroom-level7: url(../images/scenes/quartos7.jpg);
@scene-bedroom-level8: url(../images/scenes/quartos8.jpg);
@scene-bedroom-level9: url(../images/scenes/quartos9.jpg);

// Centro Cirúrgico
@scene-surgeryCenter: url(../images/scenes/centroCirurgico.jpg);
@scene-centroCirurgicoRegina: url(../images/scenes/centroCirurgicoRegina.jpg);
@scene-centroCirurgicoYuri: url(../images/scenes/centroCirurgicoYuri.jpg);

@scene-infirmary: url('');
@scene-levelTransition: url(../images/scenes/fimLevel.jpg);
@scene-endAlpha: url(../images/scenes/encerramentoProvisorio.jpg);
@scene-hallway: url(../images/scenes/corredor.jpg);
@scene-pharmacy: url(../images/scenes/farmacia.jpg);

@scene-bedChar01: url(../images/scenes/leitoChar01.jpg);
@scene-bedChar02: url(../images/scenes/leitoChar02.jpg);
@scene-bedChar02-turned: url(../images/scenes/leitoChar02Virado.jpg);
@scene-bedChar02-cushion: url(../images/scenes/leitoChar02Coxim.jpg);
@scene-bedChar03: url(../images/scenes/leitoChar03.jpg);
@scene-bedChar04: url(../images/scenes/leitoChar04.jpg);
@scene-bedChar05: url(../images/scenes/leitoChar05.jpg);
@scene-bedChar06: url(../images/scenes/leitoChar06.jpg);
@scene-bedChar07: url(../images/scenes/leitoChar07.jpg);
@scene-bedChar08: url(../images/scenes/leitoChar08.jpg);
@scene-bedChar09: url(../images/scenes/leitoChar09.jpg);
@scene-bedChar10: url(../images/scenes/leitoChar10.jpg);
// Com grade
@scene-bedChar01-grade: url(../images/scenes/leitoChar01Grade.jpg);
@scene-bedChar02-grade: url(../images/scenes/leitoChar02Grade.jpg);
@scene-bedChar02-turned-grade: url(../images/scenes/leitoChar02ViradoGrade.jpg);
@scene-bedChar02-cushion-grade: url(../images/scenes/leitoChar02CoximGrade.jpg);
@scene-bedChar03-grade: url(../images/scenes/leitoChar03Grade.jpg);
@scene-bedChar04-grade: url(../images/scenes/leitoChar04Grade.jpg);
@scene-bedChar05-grade: url(../images/scenes/leitoChar05Grade.jpg);
@scene-bedChar06-grade: url(../images/scenes/leitoChar06Grade.jpg);
@scene-bedChar07-grade: url(../images/scenes/leitoChar07Grade.jpg);
@scene-bedChar08-grade: url(../images/scenes/leitoChar08Grade.jpg);
@scene-bedChar09-grade: url(../images/scenes/leitoChar09Grade.jpg);
@scene-bedChar10-grade: url(../images/scenes/leitoChar10Grade.jpg);




//endregion
