
.action_button
{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  position: relative;
  width: 10%;
  height: 80%;
  border: 5px solid #999999;
  margin-top: 1%;
  margin-left: 1%;
}
.action-ir_corredor {
  background-image: url('./images/action_buttons/ir_corredor.jpg');
}
.action-ir_posto_de_enfermagem {
  background-image: url('./images/action_buttons/ir_posto_de_enfermagem.jpg');
}
.action-ir_sala_de_leitos {
  background-image: url('./images/action_buttons/ir_sala_de_leitos.jpg');
}
.action-ir_leito {
  background-image: url('./images/action_buttons/ir_leito.jpg');
}