/*

Scene list:

	1. Sala de leitos Masculinos (ala masculina)
	2. Sala de leitos femininos (ala feminina)
	3. Centro Cirúrgico
	4. Corredor
	5. Enfermaria
	6. Posto de Enfermagem
	7. Recepção
	
*/
@default-bgcolor: #f5f5f5;

.scene {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: @default-bgcolor;
}

.scene-ala_masculina {
  background-image: url('');
  &:extend(.scene);
}

.scene-ala_feminina {
  background-image: url('');
  &:extend(.scene);
}

.scene-centro_cirurgico {
  background-image: url('');
  &:extend(.scene);
}

.scene-corredor {
  background-image: url('./images/scenes/corredor.jpg');
  &:extend(.scene);
}

.scene-enfermaria {
  background-image: url('');
  &:extend(.scene);
}

.scene-posto_de_enfermagem {
  background-image: url('');
  &:extend(.scene);
}

.scene-recepcao {
  background-image: url('./images/scenes/recepcao.jpg');
  &:extend(.scene);
}

/*.
scene- {
	background-image: url('');
	background-color: white;
}
*/