/*
This file is part of Cuidando Bem.

    Cuidando Bem is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Cuidando Bem is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Cuidando Bem.  If not, see <http://www.gnu.org/licenses/>.
*/
#prontuario {
  @borderProntuario: 0.1rem solid black;

  font-family: @font-printed;
  font-size: 2rem;
  display: none;
  z-index: 1;
  box-sizing: border-box;

  width: 72%;
  height: 83%;
  position: absolute;
  //background-color: white;
  background-image: @bg-prontuario;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  left: 13%;
  top: 2%;

  text-align: left;

  p {
    margin: 0;
  }

  input {
    width: 100%;
    border: none;
    border-bottom: @borderProntuario;
    background-color: transparent;
  }

  .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    font-size: 1.7rem;
    padding: 0;
    color: #008080;
  }

  .ui-tabs .ui-tabs-nav li {
    margin: 0;
  }

  .ui-tabs .ui-tabs-nav li:not(:last-child):not(:nth-child(5)) {
    margin-right: 5.08rem;
  }

  input[disabled] {
    border: none;
    background-color: transparent;
  }

  #pront_alergia_divSim, #pront_alergia_divNao {
    cursor: pointer;
  }

  .notbold, span {
    font-weight: 100;
  }
  .content {
    overflow-y: hidden;
    width: 80%;
    left: 13%;
    top: 10%;
    box-sizing: border-box;
  }

  .title {
    height: 5%;
    max-height: 5%;
    text-align: center;
    border-bottom: @borderProntuario;
  }

  .row {
    text-align: center;
    border-bottom: @borderProntuario;
  }

  .outerBlock {
  }

  .block {
    border: @borderProntuario;
  }

  .container {
    min-height: 8rem;
    font-weight: bold;
    border-bottom: @borderProntuario;
  }

  .container.info {
    min-height: 4rem;
  }

  .doubleContainer {
    min-height: 8rem;
    font-weight: bold;
    border-bottom: @borderProntuario;
  }

  .tripleContainer {
    font-weight: bold;
    border-bottom: @borderProntuario;
  }

  .oneLeft {
    float: left;
    width: 50%;
    border-right: @borderProntuario;
  }

  .dataInternacao, .medidas_antropometricas, .filiacaoContainer {
    border: none;
  }

  .doubleLeft {
    float: left;
    width: 50%;
    border-right: @borderProntuario;
  }

  .tripleLeft {
    float: left;
    width: 50%;
    border-right: @borderProntuario;
  }

  .medidas_antropometricas > div {
    display: inline-block;
    width: auto;
    padding: 1% 2%;
  }

  .data_nascimento {
    border-right: @borderProntuario;
    width: 50%;
    display: inline-block;
    height: 4rem;
  }
  .idade {
    border-right: @borderProntuario;
    width: 30%;
    display: inline-block;
    height: 4rem;
  }
  .sexo {
    display: inline-block;
    height: 4rem;
  }

  table.col6 {
    width: 100%;

    thead {
      text-align: center;
      border-bottom: @borderProntuario;

      th {
        width: 16%;
      }
      th:not(:last-child) {
        border-right: @borderProntuario;
      }
    }
    tbody {

      tr {
      }
      td:not(:last-child) {
        border-right: @borderProntuario;
      }
      tr:not(:last-child) {
        border-bottom: @borderProntuario;
      }
    }
  }

  table.prescMedica {
    font-size: 1.5rem;
    td {
      padding: 0.5rem;
    }
    th:nth-child(1), td:nth-child(1) {
      width: 5%;
      text-align: center;
    }
    th:nth-child(2), td:nth-child(2) {
      width: 35%;
    }
    th:nth-child(3), td:nth-child(3) {
      width: 15%;
    }
    th:nth-child(4), td:nth-child(4) {
      width: 30%;
    }
    th:nth-child(5), td:nth-child(5) {
      width: 10%;
      text-align: center;
    }
    th:nth-child(6), td:nth-child(6) {
      width: 5%;
      cursor: pointer;
    }
  }

  table.ssvv {
    font-size: 1.5rem;

    td {
      padding: 0.5rem;
      text-align: center;
    }
    th:nth-child(1), td:nth-child(1) {
      width: 10%;
      text-align: center;
    }
    th:nth-child(2), td:nth-child(2) {
      width: 30%;
    }
    th:nth-child(3), td:nth-child(3) {
      width: 15%;
    }
    th:nth-child(4), td:nth-child(4) {
      width: 15%;
    }
    th:nth-child(5), td:nth-child(5) {
      width: 15%;
      text-align: center;
    }
    th:nth-child(6), td:nth-child(6) {
      width: 15%;
    }
  }

  table.prescEnfermage {
    font-size: 2rem;
  }

  table.col4 {
    width: 100%;

    thead {
      text-align: center;
      border-bottom: @borderProntuario;

      th:nth-child(1) {
        width: 10%;
      }
      th:nth-child(2) {
        width: 25%;
      }
      th:nth-child(3) {
        width: 25%;
      }
      th:nth-child(4) {
        width: 40%;
      }
      th:not(:last-child) {
        border-right: @borderProntuario;
      }
    }
    tbody {

      tr {
      }
      td:not(:last-child) {
        border-right: @borderProntuario;
      }
      tr {
        border-top: @borderProntuario;
      }
    }
  }

  table.col2 {
    width: 100%;

    thead {
      text-align: center;
      border-bottom: @borderProntuario;

      th {
      }

      th:first-child {
        width: 25%;
      }
      th:not(:last-child) {
        border-right: @borderProntuario;
      }
    }
    tbody {

      tr {
      }
      td:not(:last-child) {
        border-right: @borderProntuario;
      }
      tr:not(:last-child) {
        border-bottom: @borderProntuario;
      }
    }
  }

  .alergia_medicamentosa {
    #pront_alergia_qual {
      width: 30%;
    }
    .inline {
      display: inline;
    }
  }

  #ssvv_tbody {
    input {
      width: 50%;
      text-align: right;
    }
    .ssvv_row {

      td {

        span {

        }

        input {

        }
      }

      .data {
        text-align: center;
        display: block;
      }

      .pa {

      }

      .fc {

      }

      .fr {

      }

      .sat {

      }

      .temp {

      }
    }

  }

  #prescEnfermagem_tbody {
    tr {
      display: none;
    }
    td:nth-child(4) .check{
      cursor: pointer;
    }
    .vazio {
    }
    .decubito {
    }

  }

  #prescMedica_tbody {
    .relatorio {
      text-align: center;
    }
    .relatorio:not(.disabled) {
      cursor: pointer;
    }
  }

  #anotacaoEnfermagem_table {
    height: 65%;
  }

  #anotacaoEnfermagem_tbody {
    .data {
      text-align: center;
    }
    td {
      vertical-align: top;
    }

    .anotacao {
      height: 100%;
    }
  }

}

.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ui-tabs {
  position: relative; /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
  padding: .2em;
}

.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: 0 .2em;
}

.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 0;
  margin: 0 .2em 0 0;
  border-bottom-width: 0;
  padding: 0;
  white-space: nowrap;
}

.ui-tabs .ui-tabs-nav li:last-child {
  float: none;
  clear: both;
  background-color: transparent;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  float: left;
  padding: .5em 1em;
  text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  // margin-bottom: -1px;
  // padding-bottom: 1px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
  cursor: text;
}

.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 1em 1.4em;
  background: none;
}

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  // border-top-left-radius: 4px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  // border-top-right-radius: 4px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  // border-bottom-left-radius: 4px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  // border-bottom-right-radius: 4px;
}
