#pulseira_modal{
  display: none;
  float: left;
  position: absolute;

  input{
    border: none;
    background-color: transparent;
    font-size: 2.4em;
  }

  //region name
  #name_input{
    position: absolute;
    width: 23%;
    left: 23%;
    top: 43%;
    //background-color: red;
  }
  //endregion

  //region data
  #data_input{
    position: absolute;
    width: 8.5%;
    left: 37.5%;
    top: 47.5%;
    //background-color: red;
  }
  //endregion

  //region leito
  #leito_input{
    position: absolute;
    width: 10%;
    left: 22%;
    top: 47.5%;
    //background-color: red;
  }
  //endregion

}
