/*
This file is part of Cuidando Bem.

    Cuidando Bem is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Cuidando Bem is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Cuidando Bem.  If not, see <http://www.gnu.org/licenses/>.
*/
#pulseira_modal{
  display: none;
  float: left;
  position: absolute;

  input{
    border: none;
    border-bottom: 0.2rem solid black;
    background-color: transparent;
    font-size: 2.4em;
    height: 4%;
  }

  #name_span{
    position: absolute;
    top: 44%;
    left: 18.3%;
    font-size: 2rem;
    font-family: @font-printed;
  }

  #data_span{
    position: absolute;
    top: 48.7%;
    left: 26%;
    font-size: 2rem;
    font-family: @font-printed;
  }

  #leito_span{
    position: absolute;
    top: 48.7%;
    left: 17.5%;
    font-size: 2rem;
    font-family: @font-printed;
  }

  .transparent{
    visibility: hidden;
    height: 0;
    width: 0;
    display: block;
  }

  #name_input{
    position: absolute;
    width: 23.5%;
    left: 22.5%;
    top: 43%;
  }

  #data_input{
    position: absolute;
    width: 8%;
    left: 38%;
    top: 47.5%;
    text-align: center;
  }

  #leito_input{
    position: absolute;
    width: 3%;
    left: 22.5%;
    top: 47.5%;
    text-align: center;
  }
}
