@char_img-width: 10%;

#dialogBar{
  position: relative;
  display: none;
  margin: 2% auto;
  width: 90%;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}

.char_img {
  display: table-cell;
  width: @char_img-width;
}

.dialog_mainText {
  float: left;
  width: 100% - @char_img-width;
  padding-left: 2%;
  padding-bottom: 3%;
  color: #ffffff;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}
.dialog_options {
  float: left;
  padding-left: 2%;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
}
.dialog_button {
  background-image: @arrow_dialog_button;
  background-repeat: no-repeat;
  background-position: left;
  paddin-left: 100px;
  margin-bottom: 1.2%;
}
.text {
  margin-left: 30px;
}
.text:hover {
  cursor: pointer;
  color: #4cae4c;
}

.char-recepcionista {
  background-image: @char-recepcionista;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}