#dialogBar{
  position: relative;
  display: none;
  margin: 2% auto;
  width: 90%;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}

.char_img {
  float: left;
  width: 200px;
  min-height: 200px;
  background-color: white;
  margin: 0 20px 10px 0;
}

.dialog_mainText {
  color: #ffffff;
  font-size: 16px;
}
.dialog_options {
  color: #ffffff;
  font-size: 20px;
  margin-top: 2%;
  text-align: right;
}
.dialog_button {
  margin-bottom: 0.5%;
}
.text:hover {
  cursor: pointer;
  color: #4cae4c;
}

.char-recepcionista {
  background-image: @char-recepcionista;
  background-size: contain;
}